In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

sparkSession = SparkSession.builder.config(conf=SparkConf() \
                            .setAppName('data to hive tables') \
                            .setMaster('local[2]')).enableHiveSupport().getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.
23/01/03 11:34:27 WARN Utils: Service 'SparkUI' could not bind on port 4048. Attempting port 4049.

In [29]:
df = sparkSession.read.csv('/Datasets/data.csv', header=True)
df.show(2)
df.write.saveAsTable('testing.health', mode='overwrite')

+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
|USMER|MEDICAL_UNIT|SEX|PATIENT_TYPE| DATE_DIED|INTUBED|PNEUMONIA|AGE|PREGNANT|DIABETES|COPD|ASTHMA|INMSUPR|HIPERTENSION|OTHER_DISEASE|CARDIOVASCULAR|OBESITY|RENAL_CHRONIC|TOBACCO|CLASIFFICATION_FINAL|ICU|
+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
|    2|           1|  1|           1|03/05/2020|     97|        1| 65|       2|       2|   2|     2|      2|           1|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  2|           1|03/06/2020|     97|        1| 72|      97|       2|   2|     2|      2|           1|            2|             2|      1|            1|      2|                   5| 97|
+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
only showing top 2 rows

23/01/03 12:13:10 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:10 INFO HiveMetaStore: 0: drop_table : db=testing tbl=health
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=drop_table : db=testing tbl=health
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:10 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:10 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:18 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:18 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:18 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:18 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:18 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:13:18 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:13:18 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/03 12:13:18 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/03 12:13:18 INFO HiveMetaStore: 0: create_table: Table(tableName:health, dbName:testing, owner:audacious, createTime:1672728190, lastAccessTime:0, retention:0, sd:StorageDescriptor(cols:[FieldSchema(name:USMER, type:string, comment:null), FieldSchema(name:MEDICAL_UNIT, type:string, comment:null), FieldSchema(name:SEX, type:string, comment:null), FieldSchema(name:PATIENT_TYPE, type:string, comment:null), FieldSchema(name:DATE_DIED, type:string, comment:null), FieldSchema(name:INTUBED, type:string, comment:null), FieldSchema(name:PNEUMONIA, type:string, comment:null), FieldSchema(name:AGE, type:string, comment:null), FieldSchema(name:PREGNANT, type:string, comment:null), FieldSchema(name:DIABETES, type:string, comment:null), FieldSchema(name:COPD, type:string, comment:null), FieldSchema(name:ASTHMA, type:string, comment:null), FieldSchema(name:INMSUPR, type:string, comment:null), FieldSchema(name:HIPERTENSION, type:string, comment:null), FieldSchema(name:OTHER_DISEASE, type:string, comment:null), FieldSchema(name:CARDIOVASCULAR, type:string, comment:null), FieldSchema(name:OBESITY, type:string, comment:null), FieldSchema(name:RENAL_CHRONIC, type:string, comment:null), FieldSchema(name:TOBACCO, type:string, comment:null), FieldSchema(name:CLASIFFICATION_FINAL, type:string, comment:null), FieldSchema(name:ICU, type:string, comment:null)], location:null, inputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat, outputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat, compressed:false, numBuckets:-1, serdeInfo:SerDeInfo(name:null, serializationLib:org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe, parameters:{path=hdfs://localhost:9000/user/hive/warehouse/testing.db/health, serialization.format=1}), bucketCols:[], sortCols:[], parameters:{}, skewedInfo:SkewedInfo(skewedColNames:[], skewedColValues:[], skewedColValueLocationMaps:{})), partitionKeys:[], parameters:{spark.sql.sources.schema={"type":"struct","fields":[{"name":"USMER","type":"string","nullable":true,"metadata":{}},{"name":"MEDICAL_UNIT","type":"string","nullable":true,"metadata":{}},{"name":"SEX","type":"string","nullable":true,"metadata":{}},{"name":"PATIENT_TYPE","type":"string","nullable":true,"metadata":{}},{"name":"DATE_DIED","type":"string","nullable":true,"metadata":{}},{"name":"INTUBED","type":"string","nullable":true,"metadata":{}},{"name":"PNEUMONIA","type":"string","nullable":true,"metadata":{}},{"name":"AGE","type":"string","nullable":true,"metadata":{}},{"name":"PREGNANT","type":"string","nullable":true,"metadata":{}},{"name":"DIABETES","type":"string","nullable":true,"metadata":{}},{"name":"COPD","type":"string","nullable":true,"metadata":{}},{"name":"ASTHMA","type":"string","nullable":true,"metadata":{}},{"name":"INMSUPR","type":"string","nullable":true,"metadata":{}},{"name":"HIPERTENSION","type":"string","nullable":true,"metadata":{}},{"name":"OTHER_DISEASE","type":"string","nullable":true,"metadata":{}},{"name":"CARDIOVASCULAR","type":"string","nullable":true,"metadata":{}},{"name":"OBESITY","type":"string","nullable":true,"metadata":{}},{"name":"RENAL_CHRONIC","type":"string","nullable":true,"metadata":{}},{"name":"TOBACCO","type":"string","nullable":true,"metadata":{}},{"name":"CLASIFFICATION_FINAL","type":"string","nullable":true,"metadata":{}},{"name":"ICU","type":"string","nullable":true,"metadata":{}}]}, spark.sql.sources.provider=parquet, spark.sql.create.version=3.3.1}, viewOriginalText:null, viewExpandedText:null, tableType:MANAGED_TABLE, privileges:PrincipalPrivilegeSet(userPrivileges:{audacious=[PrivilegeGrantInfo(privilege:INSERT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:SELECT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:UPDATE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:DELETE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true)]}, groupPrivileges:null, rolePrivileges:null))
23/01/03 12:13:18 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=create_table: Table(tableName:health, dbName:testing, owner:audacious, createTime:1672728190, lastAccessTime:0, retention:0, sd:StorageDescriptor(cols:[FieldSchema(name:USMER, type:string, comment:null), FieldSchema(name:MEDICAL_UNIT, type:string, comment:null), FieldSchema(name:SEX, type:string, comment:null), FieldSchema(name:PATIENT_TYPE, type:string, comment:null), FieldSchema(name:DATE_DIED, type:string, comment:null), FieldSchema(name:INTUBED, type:string, comment:null), FieldSchema(name:PNEUMONIA, type:string, comment:null), FieldSchema(name:AGE, type:string, comment:null), FieldSchema(name:PREGNANT, type:string, comment:null), FieldSchema(name:DIABETES, type:string, comment:null), FieldSchema(name:COPD, type:string, comment:null), FieldSchema(name:ASTHMA, type:string, comment:null), FieldSchema(name:INMSUPR, type:string, comment:null), FieldSchema(name:HIPERTENSION, type:string, comment:null), FieldSchema(name:OTHER_DISEASE, type:string, comment:null), FieldSchema(name:CARDIOVASCULAR, type:string, comment:null), FieldSchema(name:OBESITY, type:string, comment:null), FieldSchema(name:RENAL_CHRONIC, type:string, comment:null), FieldSchema(name:TOBACCO, type:string, comment:null), FieldSchema(name:CLASIFFICATION_FINAL, type:string, comment:null), FieldSchema(name:ICU, type:string, comment:null)], location:null, inputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat, outputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat, compressed:false, numBuckets:-1, serdeInfo:SerDeInfo(name:null, serializationLib:org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe, parameters:{path=hdfs://localhost:9000/user/hive/warehouse/testing.db/health, serialization.format=1}), bucketCols:[], sortCols:[], parameters:{}, skewedInfo:SkewedInfo(skewedColNames:[], skewedColValues:[], skewedColValueLocationMaps:{})), partitionKeys:[], parameters:{spark.sql.sources.schema={"type":"struct","fields":[{"name":"USMER","type":"string","nullable":true,"metadata":{}},{"name":"MEDICAL_UNIT","type":"string","nullable":true,"metadata":{}},{"name":"SEX","type":"string","nullable":true,"metadata":{}},{"name":"PATIENT_TYPE","type":"string","nullable":true,"metadata":{}},{"name":"DATE_DIED","type":"string","nullable":true,"metadata":{}},{"name":"INTUBED","type":"string","nullable":true,"metadata":{}},{"name":"PNEUMONIA","type":"string","nullable":true,"metadata":{}},{"name":"AGE","type":"string","nullable":true,"metadata":{}},{"name":"PREGNANT","type":"string","nullable":true,"metadata":{}},{"name":"DIABETES","type":"string","nullable":true,"metadata":{}},{"name":"COPD","type":"string","nullable":true,"metadata":{}},{"name":"ASTHMA","type":"string","nullable":true,"metadata":{}},{"name":"INMSUPR","type":"string","nullable":true,"metadata":{}},{"name":"HIPERTENSION","type":"string","nullable":true,"metadata":{}},{"name":"OTHER_DISEASE","type":"string","nullable":true,"metadata":{}},{"name":"CARDIOVASCULAR","type":"string","nullable":true,"metadata":{}},{"name":"OBESITY","type":"string","nullable":true,"metadata":{}},{"name":"RENAL_CHRONIC","type":"string","nullable":true,"metadata":{}},{"name":"TOBACCO","type":"string","nullable":true,"metadata":{}},{"name":"CLASIFFICATION_FINAL","type":"string","nullable":true,"metadata":{}},{"name":"ICU","type":"string","nullable":true,"metadata":{}}]}, spark.sql.sources.provider=parquet, spark.sql.create.version=3.3.1}, viewOriginalText:null, viewExpandedText:null, tableType:MANAGED_TABLE, privileges:PrincipalPrivilegeSet(userPrivileges:{audacious=[PrivilegeGrantInfo(privilege:INSERT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:SELECT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:UPDATE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:DELETE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true)]}, groupPrivileges:null, rolePrivileges:null))
23/01/03 12:13:18 INFO log: Updating table stats fast for health
23/01/03 12:13:18 INFO log: Updated size of table health to 3288053

In [5]:
df = sparkSession.read.csv('/Datasets/alcohol.csv', inferSchema=True, header=True)
df.show(2)
df.write.saveAsTable('testing.alcohol', mode='overwrite')

+---------+-----------------+--------------------+----------------------+---------------+---------------+------------------+----------------+---------------+---------------+
|  country|total_consumption|recorded_consumption|unrecorded_consumption|beer_percentage|wine_percentage|spirits_percentage|other_percentage|2020_projection|2025_projection|
+---------+-----------------+--------------------+----------------------+---------------+---------------+------------------+----------------+---------------+---------------+
|  Estonia|             16.9|                15.8|                   1.1|           32.7|            7.4|              50.3|             9.6|           11.5|           11.9|
|Lithuania|             15.0|                13.8|                   1.2|           43.6|            7.3|              37.1|            12.1|           14.4|           13.9|
+---------+-----------------+--------------------+----------------------+---------------+---------------+------------------+----------------+---------------+---------------+
only showing top 2 rows

In [7]:
df = sparkSession.read.csv('/Datasets/CustomerBase.csv', inferSchema=True, header=True)
df.show(2)
df.write.saveAsTable('testing.customer', mode='overwrite')

+-------+---+----------------+----------------------+
|Cust_ID|Age|Customer_Segment|Customer_Vintage_Group|
+-------+---+----------------+----------------------+
|CC25034| 35|         Diamond|                   VG1|
|CC59625| 22|         Diamond|                   VG1|
+-------+---+----------------+----------------------+
only showing top 2 rows

In [9]:
df = sparkSession.read.csv('/Datasets/FraudBase.csv', inferSchema=True, header=True)
df.show(2)
df.write.saveAsTable('testing.fraudbase', mode='overwrite')

+--------------+----------+
|Transaction_ID|Fraud_Flag|
+--------------+----------+
|  CTID50558449|         1|
|  CTID55936882|         1|
+--------------+----------+
only showing top 2 rows

In [11]:
df = sparkSession.read.csv('/Datasets/TransactionBase.csv', inferSchema=True, header=True)
df.show(2)
df.write.saveAsTable('testing.transactionbase', mode='overwrite')

+--------------+----------------+-------------------+-----------------+-------------------+
|Transaction_ID|Transaction_Date|     Credit_Card_ID|Transaction_Value|Transaction_Segment|
+--------------+----------------+-------------------+-----------------+-------------------+
|  CTID28830551|       24-Apr-16|1629-9566-3285-2123|            23649|              SEG25|
|  CTID45504917|       11-Feb-16|3697-6001-4909-5350|            26726|              SEG16|
+--------------+----------------+-------------------+-----------------+-------------------+
only showing top 2 rows

In [30]:
df = sparkSession.read.csv('/Datasets/emp/train.csv', inferSchema=True, header=True)
df.show(2)

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|           JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|        1|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|   Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|        0|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 2 rows

In [31]:
df.write.saveAsTable('testing.employe', mode='overwrite')

23/01/03 12:20:38 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:38 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:38 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:38 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:38 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:38 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:38 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:38 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:38 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:38 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:38 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:38 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO HiveMetaStore: 0: drop_table : db=testing tbl=employe
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=drop_table : db=testing tbl=employe
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:20:39 INFO HiveMetaStore: 0: get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employe
23/01/03 12:20:39 INFO HiveMetaStore: 0: create_table: Table(tableName:employe, dbName:testing, owner:audacious, createTime:1672728639, lastAccessTime:0, retention:0, sd:StorageDescriptor(cols:[FieldSchema(name:Age, type:int, comment:null), FieldSchema(name:Attrition, type:int, comment:null), FieldSchema(name:BusinessTravel, type:string, comment:null), FieldSchema(name:DailyRate, type:int, comment:null), FieldSchema(name:Department, type:string, comment:null), FieldSchema(name:DistanceFromHome, type:int, comment:null), FieldSchema(name:Education, type:int, comment:null), FieldSchema(name:EducationField, type:string, comment:null), FieldSchema(name:EmployeeCount, type:int, comment:null), FieldSchema(name:EmployeeNumber, type:int, comment:null), FieldSchema(name:EnvironmentSatisfaction, type:int, comment:null), FieldSchema(name:Gender, type:string, comment:null), FieldSchema(name:HourlyRate, type:int, comment:null), FieldSchema(name:JobInvolvement, type:int, comment:null), FieldSchema(name:JobLevel, type:int, comment:null), FieldSchema(name:JobRole, type:string, comment:null), FieldSchema(name:JobSatisfaction, type:int, comment:null), FieldSchema(name:MaritalStatus, type:string, comment:null), FieldSchema(name:MonthlyIncome, type:int, comment:null), FieldSchema(name:MonthlyRate, type:int, comment:null), FieldSchema(name:NumCompaniesWorked, type:int, comment:null), FieldSchema(name:Over18, type:string, comment:null), FieldSchema(name:OverTime, type:string, comment:null), FieldSchema(name:PercentSalaryHike, type:int, comment:null), FieldSchema(name:PerformanceRating, type:int, comment:null), FieldSchema(name:RelationshipSatisfaction, type:int, comment:null), FieldSchema(name:StandardHours, type:int, comment:null), FieldSchema(name:StockOptionLevel, type:int, comment:null), FieldSchema(name:TotalWorkingYears, type:int, comment:null), FieldSchema(name:TrainingTimesLastYear, type:int, comment:null), FieldSchema(name:WorkLifeBalance, type:int, comment:null), FieldSchema(name:YearsAtCompany, type:int, comment:null), FieldSchema(name:YearsInCurrentRole, type:int, comment:null), FieldSchema(name:YearsSinceLastPromotion, type:int, comment:null), FieldSchema(name:YearsWithCurrManager, type:int, comment:null)], location:null, inputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat, outputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat, compressed:false, numBuckets:-1, serdeInfo:SerDeInfo(name:null, serializationLib:org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe, parameters:{path=hdfs://localhost:9000/user/hive/warehouse/testing.db/employe, serialization.format=1}), bucketCols:[], sortCols:[], parameters:{}, skewedInfo:SkewedInfo(skewedColNames:[], skewedColValues:[], skewedColValueLocationMaps:{})), partitionKeys:[], parameters:{spark.sql.sources.schema={"type":"struct","fields":[{"name":"Age","type":"integer","nullable":true,"metadata":{}},{"name":"Attrition","type":"integer","nullable":true,"metadata":{}},{"name":"BusinessTravel","type":"string","nullable":true,"metadata":{}},{"name":"DailyRate","type":"integer","nullable":true,"metadata":{}},{"name":"Department","type":"string","nullable":true,"metadata":{}},{"name":"DistanceFromHome","type":"integer","nullable":true,"metadata":{}},{"name":"Education","type":"integer","nullable":true,"metadata":{}},{"name":"EducationField","type":"string","nullable":true,"metadata":{}},{"name":"EmployeeCount","type":"integer","nullable":true,"metadata":{}},{"name":"EmployeeNumber","type":"integer","nullable":true,"metadata":{}},{"name":"EnvironmentSatisfaction","type":"integer","nullable":true,"metadata":{}},{"name":"Gender","type":"string","nullable":true,"metadata":{}},{"name":"HourlyRate","type":"integer","nullable":true,"metadata":{}},{"name":"JobInvolvement","type":"integer","nullable":true,"metadata":{}},{"name":"JobLevel","type":"integer","nullable":true,"metadata":{}},{"name":"JobRole","type":"string","nullable":true,"metadata":{}},{"name":"JobSatisfaction","type":"integer","nullable":true,"metadata":{}},{"name":"MaritalStatus","type":"string","nullable":true,"metadata":{}},{"name":"MonthlyIncome","type":"integer","nullable":true,"metadata":{}},{"name":"MonthlyRate","type":"integer","nullable":true,"metadata":{}},{"name":"NumCompaniesWorked","type":"integer","nullable":true,"metadata":{}},{"name":"Over18","type":"string","nullable":true,"metadata":{}},{"name":"OverTime","type":"string","nullable":true,"metadata":{}},{"name":"PercentSalaryHike","type":"integer","nullable":true,"metadata":{}},{"name":"PerformanceRating","type":"integer","nullable":true,"metadata":{}},{"name":"RelationshipSatisfaction","type":"integer","nullable":true,"metadata":{}},{"name":"StandardHours","type":"integer","nullable":true,"metadata":{}},{"name":"StockOptionLevel","type":"integer","nullable":true,"metadata":{}},{"name":"TotalWorkingYears","type":"integer","nullable":true,"metadata":{}},{"name":"TrainingTimesLastYear","type":"integer","nullable":true,"metadata":{}},{"name":"WorkLifeBalance","type":"integer","nullable":true,"metadata":{}},{"name":"YearsAtCompany","type":"integer","nullable":true,"metadata":{}},{"name":"YearsInCurrentRole","type":"integer","nullable":true,"metadata":{}},{"name":"YearsSinceLastPromotion","type":"integer","nullable":true,"metadata":{}},{"name":"YearsWithCurrManager","type":"integer","nullable":true,"metadata":{}}]}, spark.sql.sources.provider=parquet, spark.sql.create.version=3.3.1}, viewOriginalText:null, viewExpandedText:null, tableType:MANAGED_TABLE, privileges:PrincipalPrivilegeSet(userPrivileges:{audacious=[PrivilegeGrantInfo(privilege:INSERT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:SELECT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:UPDATE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:DELETE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true)]}, groupPrivileges:null, rolePrivileges:null))
23/01/03 12:20:39 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=create_table: Table(tableName:employe, dbName:testing, owner:audacious, createTime:1672728639, lastAccessTime:0, retention:0, sd:StorageDescriptor(cols:[FieldSchema(name:Age, type:int, comment:null), FieldSchema(name:Attrition, type:int, comment:null), FieldSchema(name:BusinessTravel, type:string, comment:null), FieldSchema(name:DailyRate, type:int, comment:null), FieldSchema(name:Department, type:string, comment:null), FieldSchema(name:DistanceFromHome, type:int, comment:null), FieldSchema(name:Education, type:int, comment:null), FieldSchema(name:EducationField, type:string, comment:null), FieldSchema(name:EmployeeCount, type:int, comment:null), FieldSchema(name:EmployeeNumber, type:int, comment:null), FieldSchema(name:EnvironmentSatisfaction, type:int, comment:null), FieldSchema(name:Gender, type:string, comment:null), FieldSchema(name:HourlyRate, type:int, comment:null), FieldSchema(name:JobInvolvement, type:int, comment:null), FieldSchema(name:JobLevel, type:int, comment:null), FieldSchema(name:JobRole, type:string, comment:null), FieldSchema(name:JobSatisfaction, type:int, comment:null), FieldSchema(name:MaritalStatus, type:string, comment:null), FieldSchema(name:MonthlyIncome, type:int, comment:null), FieldSchema(name:MonthlyRate, type:int, comment:null), FieldSchema(name:NumCompaniesWorked, type:int, comment:null), FieldSchema(name:Over18, type:string, comment:null), FieldSchema(name:OverTime, type:string, comment:null), FieldSchema(name:PercentSalaryHike, type:int, comment:null), FieldSchema(name:PerformanceRating, type:int, comment:null), FieldSchema(name:RelationshipSatisfaction, type:int, comment:null), FieldSchema(name:StandardHours, type:int, comment:null), FieldSchema(name:StockOptionLevel, type:int, comment:null), FieldSchema(name:TotalWorkingYears, type:int, comment:null), FieldSchema(name:TrainingTimesLastYear, type:int, comment:null), FieldSchema(name:WorkLifeBalance, type:int, comment:null), FieldSchema(name:YearsAtCompany, type:int, comment:null), FieldSchema(name:YearsInCurrentRole, type:int, comment:null), FieldSchema(name:YearsSinceLastPromotion, type:int, comment:null), FieldSchema(name:YearsWithCurrManager, type:int, comment:null)], location:null, inputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat, outputFormat:org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat, compressed:false, numBuckets:-1, serdeInfo:SerDeInfo(name:null, serializationLib:org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe, parameters:{path=hdfs://localhost:9000/user/hive/warehouse/testing.db/employe, serialization.format=1}), bucketCols:[], sortCols:[], parameters:{}, skewedInfo:SkewedInfo(skewedColNames:[], skewedColValues:[], skewedColValueLocationMaps:{})), partitionKeys:[], parameters:{spark.sql.sources.schema={"type":"struct","fields":[{"name":"Age","type":"integer","nullable":true,"metadata":{}},{"name":"Attrition","type":"integer","nullable":true,"metadata":{}},{"name":"BusinessTravel","type":"string","nullable":true,"metadata":{}},{"name":"DailyRate","type":"integer","nullable":true,"metadata":{}},{"name":"Department","type":"string","nullable":true,"metadata":{}},{"name":"DistanceFromHome","type":"integer","nullable":true,"metadata":{}},{"name":"Education","type":"integer","nullable":true,"metadata":{}},{"name":"EducationField","type":"string","nullable":true,"metadata":{}},{"name":"EmployeeCount","type":"integer","nullable":true,"metadata":{}},{"name":"EmployeeNumber","type":"integer","nullable":true,"metadata":{}},{"name":"EnvironmentSatisfaction","type":"integer","nullable":true,"metadata":{}},{"name":"Gender","type":"string","nullable":true,"metadata":{}},{"name":"HourlyRate","type":"integer","nullable":true,"metadata":{}},{"name":"JobInvolvement","type":"integer","nullable":true,"metadata":{}},{"name":"JobLevel","type":"integer","nullable":true,"metadata":{}},{"name":"JobRole","type":"string","nullable":true,"metadata":{}},{"name":"JobSatisfaction","type":"integer","nullable":true,"metadata":{}},{"name":"MaritalStatus","type":"string","nullable":true,"metadata":{}},{"name":"MonthlyIncome","type":"integer","nullable":true,"metadata":{}},{"name":"MonthlyRate","type":"integer","nullable":true,"metadata":{}},{"name":"NumCompaniesWorked","type":"integer","nullable":true,"metadata":{}},{"name":"Over18","type":"string","nullable":true,"metadata":{}},{"name":"OverTime","type":"string","nullable":true,"metadata":{}},{"name":"PercentSalaryHike","type":"integer","nullable":true,"metadata":{}},{"name":"PerformanceRating","type":"integer","nullable":true,"metadata":{}},{"name":"RelationshipSatisfaction","type":"integer","nullable":true,"metadata":{}},{"name":"StandardHours","type":"integer","nullable":true,"metadata":{}},{"name":"StockOptionLevel","type":"integer","nullable":true,"metadata":{}},{"name":"TotalWorkingYears","type":"integer","nullable":true,"metadata":{}},{"name":"TrainingTimesLastYear","type":"integer","nullable":true,"metadata":{}},{"name":"WorkLifeBalance","type":"integer","nullable":true,"metadata":{}},{"name":"YearsAtCompany","type":"integer","nullable":true,"metadata":{}},{"name":"YearsInCurrentRole","type":"integer","nullable":true,"metadata":{}},{"name":"YearsSinceLastPromotion","type":"integer","nullable":true,"metadata":{}},{"name":"YearsWithCurrManager","type":"integer","nullable":true,"metadata":{}}]}, spark.sql.sources.provider=parquet, spark.sql.create.version=3.3.1}, viewOriginalText:null, viewExpandedText:null, tableType:MANAGED_TABLE, privileges:PrincipalPrivilegeSet(userPrivileges:{audacious=[PrivilegeGrantInfo(privilege:INSERT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:SELECT, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:UPDATE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true), PrivilegeGrantInfo(privilege:DELETE, createTime:-1, grantor:audacious, grantorType:USER, grantOption:true)]}, groupPrivileges:null, rolePrivileges:null))
23/01/03 12:20:39 INFO log: Updating table stats fast for employe
23/01/03 12:20:39 INFO log: Updated size of table employe to 40753

In [32]:
sparkSession.sql("select MonthlyIncome from testing.employee limit 2").show()

23/01/03 12:58:46 INFO HiveMetaStore: 0: get_database: testing
23/01/03 12:58:46 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/03 12:58:46 INFO HiveMetaStore: 0: get_table : db=testing tbl=employee
23/01/03 12:58:46 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employee
23/01/03 12:58:46 INFO HiveMetaStore: 0: get_table : db=testing tbl=employee
23/01/03 12:58:46 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=employee

+-------------+
|MonthlyIncome|
+-------------+
|         5993|
|         5130|
+-------------+

23/01/03 20:05:33 WARN DataStreamer: Exception for BP-241050457-127.0.0.1-1670841776195:blk_1073762846_22047
java.net.SocketTimeoutException: 65000 millis timeout while waiting for channel to be ready for read. ch : java.nio.channels.SocketChannel[connected local=/127.0.0.1:34038 remote=/127.0.0.1:9866]
	at org.apache.hadoop.net.SocketIOWithTimeout.doIO(SocketIOWithTimeout.java:163)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:161)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:131)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:118)
	at java.io.FilterInputStream.read(FilterInputStream.java:83)
	at java.io.FilterInputStream.read(FilterInputStream.java:83)
	at org.apache.hadoop.hdfs.protocolPB.PBHelperClient.vintPrefixed(PBHelperClient.java:519)
	at org.apache.hadoop.hdfs.protocol.datatransfer.PipelineAck.readFields(PipelineAck.java:213)
	at org.apache.hadoop.hdfs.DataStreamer$ResponseProcessor.run(DataStreamer.java:1137)