### Select Statement

#cte common table expression

with data as (
    select * from testing.health h where h.age > 40
    )
select * from data d where d.sex == 1;

select * from testing.health h where h.age < 10 and h.sex == 2;

select distinct h.sex from testing.health h;

select distinct h.sex, h.age from testing.health h where h.diabetes == 2 limit 10;

select distinct h.sex, h.diabetes from testing.health h where h.age > 40;

select h.diabetes, h.age from (select g.diabetes diabetes, sum(g.age) age from testing.health g group by g.diabetes) h

#when to use having clause

select h.diabetes from (select g.diabetes diabetes, sum(g.age) age from testing.health g group by g.diabetes) h where h.age > 170000;

select h.diabetes from testing.health h group by h.diabetes having sum(h.age)>170000;

select h.sex, h.age from testing.health h order by h.age desc limit 5;

select h.sex, h.age from testing.health h order by h.age desc limit 2,5;

### GroupBy Statement

select department, max(age) from emp1 group by department;

select department, max(age) from emp1 group by department;

select department, gender, max(age) from emp1 group by department, gender;

select department, gender, min(age) from emp1 group by department, gender;

select department, count(1) from emp1 group by department;

select department, gender, sum(monthlyincome) from emp1 group by department, gender;

select department, gender, count(1), sum(monthlyincome), avg(monthlyincome), min(monthlyincome), max(monthlyincome) from emp1 group by department, gender;

### Windows function

#### Agrregation function

select department,gender, max(age) over(partition by department) from emp limit 5;

select distinct department,gender, max(age) over(partition by department) from emp;

select department, gender, min(monthlyincome) over(partition by department) from emp1 limit 5;

select department, gender, sum(monthlyincome) over(partition by department) from emp1 limit 5;

select department, gender, count(1) over(partition by department), avg(monthlyincome) over(partition by department) from emp1 limit 5;

select department,avg(monthlyincome) over(partition by department), max(monthlyincome) over(partition by department),min(monthlyincome) over(partition by department) ,sum(monthlyincome) over(partition by department), count(1) over(partition by department), collect_list(monthlyincome) over(partition by department) from emp1 limit 5;

select department, avg(age) over(partition by department) avg_age, max(age) over(partition by department) max_age, collect_list(age) over(partition by department) list_age from emp1 limit 10;

select department, avg(age) over(partition by department order by age) avg_age, max(age) over(partition by department order by age) max_age, collect_list(age) over(partition by department order by age) list_age from emp1 limit 10;

select department, avg(age) over(partition by department order by age rows between 1 preceding and current row) avg_age, max(age) over(partition by department order by age rows between 1 preceding and current row) max_age, collect_list(age) over(partition by department order by age rows between 1 preceding and current row) list_age from emp1 limit 10;

select department, avg(age) over(partition by department order by age rows between 2 preceding and current row) avg_age, max(age) over(partition by department order by age rows between 2 preceding and current row) max_age, collect_list(age) over(partition by department order by age rows between 2 preceding and current row) list_age from emp1 limit 10;

select department, avg(age) over(partition by department order by age rows between 1 preceding and 1 following) avg_age, max(age) over(partition by department order by age rows between 1 preceding and 1 following) max_age, collect_list(age) over(partition by department order by age rows between 1 preceding and 1 following) list_age from emp1 limit 10;

select department, avg(age) over(partition by department order by age rows between current row and 1 following) avg_age, max(age) over(partition by department order by age rows between current row and 1 following) max_age, collect_list(age) over(partition by department order by age rows between current row and 1 following) list_age from emp1 limit 10;

select department, avg(age) over(partition by department order by age rows between current row and 2 following) avg_age, max(age) over(partition by department order by age rows between current row and 2 following) max_age, collect_list(age) over(partition by department order by age rows between current row and 2 following) list_age from emp1 limit 10;

#### Analytical Function

select department, age, lead(age, 1) over(partition by department) from emp1 limit 5;

select department, age, lead(age, 2) over(partition by department) from emp1 limit 5;

select department, age, lead(age, 1) over(partition by department order by age) from emp1 limit 5;

select department, age, lead(age, 1) over(partition by department order by age) from emp1 limit 5;

select department, age, lag(age, 1) over(partition by department order by age) from emp1 limit 5;

select department, age, lag(age, 2) over(partition by department order by age) from emp1 limit 5

select department, age, lag(age, 2) over(partition by department) from emp1 limit 5

select department, age, first_value(age) over(partition by department order by age) from emp1 limit 5;

select department, age, first_value(age) over(partition by department) from emp1 limit 5;

select department, age, last_value(age) over(partition by department order by age) from emp1 limit 5;

select department, age, last_value(age) over(partition by department) from emp1 limit 5;

#### Ranking Function

select department, age, gender, monthlyincome, row_number() over(partition by department order by monthlyincome) from emp1 limit 5;

select department, age, gender, monthlyincome, row_number() over(partition by department) from emp1 limit 5;

select department, age, gender, monthlyincome, row_number() over(order by monthlyincome) ro1 from emp1 limit 5;

select department, age, monthlyincome, rank() over(partition by department order by monthlyincome) 
from emp1 limit 5;

select department, age, monthlyincome, dense_rank() over(partition by department order by monthlyincome) from emp1 limit 5;

select department, age, monthlyincome, ntile(10) over(partition by department order by monthlyincome) from emp1 limit 5;

select department, age, monthlyincome, ntile(2) over(partition by department order by monthlyincome) from emp1 limit 5;

select department, age, monthlyincome, percent_rank() over(partition by department order by monthlyincome) from emp1 limit 5;