### Create Table

CREATE [TEMPORARY] [EXTERNAL] TABLE [IF NOT EXISTS] [db_name.]table_name    -- (Note: TEMPORARY available in Hive                                                                                     0.14.0 and later)
  [(col_name data_type [column_constraint_specification] [COMMENT col_comment], ... [constraint_specification])]
  [COMMENT table_comment]
  [PARTITIONED BY (col_name data_type [COMMENT col_comment], ...)]
  [CLUSTERED BY (col_name, col_name, ...) [SORTED BY (col_name [ASC|DESC], ...)] INTO num_buckets BUCKETS]
  [SKEWED BY (col_name, col_name, ...)                  -- (Note: Available in Hive 0.10.0 and later)]
     ON ((col_value, col_value, ...), (col_value, col_value, ...), ...)
     [STORED AS DIRECTORIES]
  [
   [ROW FORMAT row_format] 
   [STORED AS file_format]
     | STORED BY 'storage.handler.class.name' [WITH SERDEPROPERTIES (...)]  -- (Note: Available in Hive 0.6.0 and later)
  ]
  [LOCATION hdfs_path]
  [TBLPROPERTIES (property_name=property_value, ...)]   -- (Note: Available in Hive 0.6.0 and later)
  [AS select_statement];   -- (Note: Available in Hive 0.5.0 and later; not supported for external tables)

CREATE [TEMPORARY] [EXTERNAL] TABLE [IF NOT EXISTS] [db_name.]table_name
  LIKE existing_table_or_view_name
  [LOCATION hdfs_path];

data_type
  : primitive_type
  | array_type
  | map_type
  | struct_type
  | union_type  -- (Note: Available in Hive 0.7.0 and later)
 
primitive_type
  : TINYINT
  | SMALLINT
  | INT
  | BIGINT
  | BOOLEAN
  | FLOAT
  | DOUBLE
  | DOUBLE PRECISION -- (Note: Available in Hive 2.2.0 and later)
  | STRING
  | BINARY      -- (Note: Available in Hive 0.8.0 and later)
  | TIMESTAMP   -- (Note: Available in Hive 0.8.0 and later)
  | DECIMAL     -- (Note: Available in Hive 0.11.0 and later)
  | DECIMAL(precision, scale)  -- (Note: Available in Hive 0.13.0 and later)
  | DATE        -- (Note: Available in Hive 0.12.0 and later)
  | VARCHAR     -- (Note: Available in Hive 0.12.0 and later)
  | CHAR        -- (Note: Available in Hive 0.13.0 and later)

array_type
  : ARRAY < data_type >
 
map_type
  : MAP < primitive_type, data_type >
 
struct_type
  : STRUCT < col_name : data_type [COMMENT col_comment], ...>
 
union_type
   : UNIONTYPE < data_type, data_type, ... >  -- (Note: Available in Hive 0.7.0 and later)
 
row_format
  : DELIMITED [FIELDS TERMINATED BY char [ESCAPED BY char]] [COLLECTION ITEMS TERMINATED BY char]
        [MAP KEYS TERMINATED BY char] [LINES TERMINATED BY char]
        [NULL DEFINED AS char]   -- (Note: Available in Hive 0.13 and later)
  | SERDE serde_name [WITH SERDEPROPERTIES (property_name=property_value, property_name=property_value, ...)]

 
file_format:
  : SEQUENCEFILE
  | TEXTFILE    -- (Default, depending on hive.default.fileformat configuration)
  | RCFILE      -- (Note: Available in Hive 0.6.0 and later)
  | ORC         -- (Note: Available in Hive 0.11.0 and later)
  | PARQUET     -- (Note: Available in Hive 0.13.0 and later)
  | AVRO        -- (Note: Available in Hive 0.14.0 and later)
  | JSONFILE    -- (Note: Available in Hive 4.0.0 and later)
  | INPUTFORMAT input_format_classname OUTPUTFORMAT output_format_classname

column_constraint_specification:
  : [ PRIMARY KEY|UNIQUE|NOT NULL|DEFAULT [default_value]|CHECK  [check_expression] ENABLE|DISABLE NOVALIDATE RELY/NORELY ]
 
default_value:
  : [ LITERAL|CURRENT_USER()|CURRENT_DATE()|CURRENT_TIMESTAMP()|NULL ] 
 
constraint_specification:
  : [, PRIMARY KEY (col_name, ...) DISABLE NOVALIDATE RELY/NORELY ]
    [, PRIMARY KEY (col_name, ...) DISABLE NOVALIDATE RELY/NORELY ]
    [, CONSTRAINT constraint_name FOREIGN KEY (col_name, ...) REFERENCES table_name(col_name, ...) DISABLE NOVALIDATE 
    [, CONSTRAINT constraint_name UNIQUE (col_name, ...) DISABLE NOVALIDATE RELY/NORELY ]
    [, CONSTRAINT constraint_name CHECK [check_expression] ENABLE|DISABLE NOVALIDATE RELY/NORELY ]

In [1]:
### Create Table

CREATE TABLE practice.table_basic(ids INT
                                    , name STRING);

CREATE TABLE practice.table_basic2(ids INT, name STRING, transaction BIGINT) COMMENT 'giving comment to table'

CREATE TABLE practice.table_withlocation(ids BIGINT, name VARCHAR(100), sex CHAR(10)) 
            COMMENT 'location setting' LOCATION '/datasets/practice/';

CREATE TABLE practice.table_rowformat(ids INT, name STRING) 
    COMMENT 'specify row format' 
    ROW FORMAT DELIMITED 
    FIELDS TERMINATED BY ','
    LOCATION '/datasets/practice/'

CREATE TABLE practice.table_rowformat1(ids BIGINT, names STRING) 
    COMMENT 'non' 
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    LOCATION '/databases/practice/'

CREATE TABLE practice.tablestoredas(ids INT, name VARCHAR(100), is_live BOOLEAN)
    COMMENT 'table with stored as'
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    STORED AS TEXTFILE
    LOCATION '/databases/practice/'

CREATE TABLE practice.table_storedas_parquet(ids BIGINT, names STRING, is_live BOOLEAN, `date` DATE)
    COMMENT 'table stored format'
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS PARQUET
    LOCATION '/databases/practice/'

CREATE TABLE practice.table_storedasavro(ids BIGINT, name STRING, datetime TIMESTAMP)
    COMMENT 'avro table'
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS AVRO
    LOCATION '/databases/practice/'

CREATE TABLE practice.table_storedasavro(ids BIGINT, name STRING, datetime TIMESTAMP)
    COMMENT 'avro table'
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS ORC
    LOCATION '/databases/practice/'

In [ ]:
CREATE TABLE practice.table_storedasrcfile(ids BIGINT, name STRING, datetime TIMESTAMP)
    COMMENT 'avro table'
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS RCFile
    LOCATION '/databases/practice/'

DESCRIBE FORMATTED table_storedasrcfile

DESCRIBE table_storedasrcfile

CREATE TABLE practice.table_partitioned(ids BIGINT NOT NULL, name STRING, point DECIMAL)
    COMMENT 'partitioned table'
    PARTITIONED BY (state STRING)
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS PARQUET
    LOCATION '/databases/practice/'

CREATE TABLE practice.table_partitomed_orc(ids INT UNIQUE DISABLE NOVALIDATE, 
                                           name STRING NOT NULL, points DECIMAL CHECK (points >10))
    COMMENT 'constrains'
    PARTITIONED BY (state STRING, country STRING)
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS PARQUET
    LOCATION '/databases/practice/'

CREATE TABLE practice.table_withconstrains(ids BIGINT PRIMARY KEY DISABLE NOVALIDATE, 
                                           name STRING NOT NULL, point DECIMAL)
    COMMENT 'table iwth novalidate disable'
    PARTITIONED BY (state STRING, country STRING)
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS PARQUET
    LOCATION '/databases/practice/';

CREATE TABLE practice.table_withbuckest(ids BIGINT PRIMARY KEY DISABLE NOVALIDATE,
                                       name STRING NOT NULL, points DATE)
    COMMENT 'backeting'
    PARTITIONED BY (state STRING, country STRING)
    CLUSTERED BY(ids) SORTED  BY (points) INTO 10 BUCKETS
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS ORC
    LOCATION '/databases/practice/'

CREATE TABLE practice.table_rcfile(ids BIGINT PRIMARY KEY DISABLE NOVALIDATE, 
                                  name STRING NOT NULL, class VARCHAR(10))
    PARTITIONED BY (state STRING, district STRING)
    CLUSTERED BY (ids) SORTED BY (ids) INTO 32 BUCKETS
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY '|'
    STORED AS RCFile
    LOCATION '/databases/practice/';

In [ ]:
## TO CREATE EXTERNAL TABLE NEED TO JUST SPECIFY THE EXTERNAL KEYWORD
#    AND LOCATION IN TERMS OF MANAGE TABLE NO NEED TO SPECIFY LOCATION NUT WE CAN SPECIFY

DROP TABLE table_rcfile

TRUNCATE TABLE table_withbuckest

### Complex data type

CREATE TABLE practice.array_table(ids STRING, data ARRAY<STRING>);

INSERT INTO array_table values(1, array('nilesh','pise'))

select a.data[0] from array_table a;

select * from array_table a;

CREATE TABLE practice.array2_table(ids BIGINT, test ARRAY<INT>, test2 ARRAY<STRING>)

CREATE TABLE practice.array2(ids BIGINT, test ARRAY<INT>)
    PARTITIONED BY (state STRING)
    CLUSTERED BY (ids) SORTED BY (ids) INTO 4 BUCKETS
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    COLLECTION ITEMS TERMINATED BY '|'
    MAP KEYS TERMINATED BY '='
    STORED AS PARQUET
    LOCATION '/databases/practice/'

CREATE TABLE practice.array3(ids BIGINT,
                            test ARRAY<INT>, test1 ARRAY<BOOLEAN>)
    PARTITIONED BY (state STRING)
    CLUSTERED BY (ids) SORTED BY (ids) INTO 32 BUCKETS
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    COLLECTION ITEMS TERMINATED BY '|'
    MAP KEYS TERMINATED BY '='
    STORED AS PARQUET
    LOCATION '/databases/practice/'

CREATE TABLE practice.struct_table(ids BIGINT,
                                  test MAP<STRING,INT >,
                                  test2 ARRAY <INT>)
    PARTITIONED BY (state STRING) 
    CLUSTERED BY (ids) SORTED BY (ids) INTO 32 BUCKETS
    ROW FORMAT DELIMITED
    FIELDS TERMINATED BY ','
    COLLECTION ITEMS TERMINATED BY '|'
    MAP KEYS TERMINATED BY '+'
    STORED AS PARQUET
    LOCATION '/databases/practice/'

In [ ]:
CREATE TABLE practice.struct2(ids BIGINT, data STRUCT <Fname: STRING, Lname: STRING >)

#### Rename Table

ALTER TABLE table_name RENAME TO new_table_name;

ALTER TABLE practice.table_basis_rename RENAME TO practice.table_basic

#### Alter Table Properties

ALTER TABLE table_name SET TBLPROPERTIES table_properties;

In [ ]:
DESCRIBE EXTENDED practice.table_basic # to get the table properties

ALTER TABLE practice.table_basic SET TBLPROPERTIES('owner'='spark');

ALTER TABLE practice.table_basic SET TBLPROPERTIES('ownerType'='user')

ALTER TABLE practice.table_basic UNSET TBLPROPERTIES('ownerType')

#### Add SerDe Properties


ALTER TABLE table_name [PARTITION partition_spec] SET SERDE serde_class_name [WITH SERDEPROPERTIES serde_properties];
 
ALTER TABLE table_name [PARTITION partition_spec] SET SERDEPROPERTIES serde_properties;

ALTER TABLE practice.table_basic SET SERDEPROPERTIES('field.delim'=',');

ALTER TABLE practice.table_basic SET SERDEPROPERTIES('field.delim'='|');

#### Remove SerDe Properties

ALTER TABLE table_name [PARTITION partition_spec] UNSET SERDEPROPERTIES (property_name, ... );

ALTER TABLE practice.table_basic UNSET SERDEPROPERTIES ('field.delim');

#### Alter Table Storage Properties

ALTER TABLE table_name CLUSTERED BY (col_name, col_name, ...) [SORTED BY (col_name, ...)]
  INTO num_buckets BUCKETS;

ALTER TABLE practice.table_basic CLUSTERED BY (ids) SORTED BY (ids) INTO 32 BUCKETS;

#### Alter Table Constraints

ALTER TABLE table_name ADD CONSTRAINT constraint_name PRIMARY KEY (column, ...) DISABLE NOVALIDATE;
ALTER TABLE table_name ADD CONSTRAINT constraint_name FOREIGN KEY (column, ...) REFERENCES table_name(column, ...) DISABLE NOVALIDATE RELY;
ALTER TABLE table_name ADD CONSTRAINT constraint_name UNIQUE (column, ...) DISABLE NOVALIDATE;
ALTER TABLE table_name CHANGE COLUMN column_name column_name data_type CONSTRAINT constraint_name NOT NULL ENABLE;
ALTER TABLE table_name CHANGE COLUMN column_name column_name data_type CONSTRAINT constraint_name DEFAULT default_value ENABLE;
ALTER TABLE table_name CHANGE COLUMN column_name column_name data_type CONSTRAINT constraint_name CHECK check_expression ENABLE;
 
ALTER TABLE table_name DROP CONSTRAINT constraint_name;

ALTER TABLE practice.table_basic ADD CONSTRAINT table_basic_un UNIQUE(ids) DISABLE NOVALIDATE;

ALTER TABLE practice.table_basic ADD CONSTRAINT table_basic_pk PRIMARY KEY(ids) DISABLE NOVALIDATE;

ALTER TABLE practice.table_basic CHANGE name Name VARCHAR(200) CONSTRAINT table_baisc_nn NOT NULL ENABLE;

ALTER TABLE practice.table_basic CHANGE Name FirstName STRING CONSTRAINT table_date DEFAULT 'O' ENABLE;

ALTER TABLE practice.table_basic ADD CONSTRAINT check_col CHECK ids >10;

#### Change Column Name/Type/Position/Comment

ALTER TABLE table_name [PARTITION partition_spec] CHANGE [COLUMN] co_old_name col_new_name column_type
  [COMMENT col_comment] [FIRST|AFTER column_name] [CASCADE|RESTRICT];

This command will allow users to change a column's name, data type, comment, or position, or an arbitrary combination of them. The PARTITION clause is available in Hive 0.14.0 and later; see Upgrading Pre-Hive 0.13.0 Decimal Columns for usage. A patch for Hive 0.13 is also available (see HIVE-7971).

The CASCADE|RESTRICT clause is available in Hive 1.1.0. ALTER TABLE CHANGE COLUMN with CASCADE command changes the columns of a table's metadata, and cascades the same change to all the partition metadata. RESTRICT is the default, limiting column change only to table metadata.

CREATE TABLE test_change (a int, b int, c int);
 
// First change column a's name to a1.
ALTER TABLE test_change CHANGE a a1 INT;
 
// Next change column a1's name to a2, its data type to string, and put it after column b.
ALTER TABLE test_change CHANGE a1 a2 STRING AFTER b;
// The new table's structure is:  b int, a2 string, c int.
  
// Then change column c's name to c1, and put it as the first column.
ALTER TABLE test_change CHANGE c c1 INT FIRST;
// The new table's structure is:  c1 int, b int, a2 string.
  
// Add a comment to column a1
ALTER TABLE test_change CHANGE a1 a1 INT COMMENT 'this is column a1';

#### Add/Replace Columns

ALTER TABLE table_name 
  [PARTITION partition_spec]                 -- (Note: Hive 0.14.0 and later)
  ADD|REPLACE COLUMNS (col_name data_type [COMMENT col_comment], ...)
  [CASCADE|RESTRICT]

ALTER TABLE practice.table_basic ADD COLUMNS(t_date DATE);

ALTER TABLE practice.table_basic ADD COLUMNS(`date` DATE)

#### Create View

CREATE VIEW [IF NOT EXISTS] [db_name.]view_name [(column_name [COMMENT column_comment], ...) ]
  [COMMENT view_comment]
  [TBLPROPERTIES (property_name = property_value, ...)]
  AS SELECT ...;

CREATE VIEW practice.table_view COMMENT 'FIRST VIEW' AS SELECT * FROM testing.alcohol;

CREATE VIEW practice.sec_view(age) AS SELECT AGE FROM testing.health;

DROP VIEW [IF EXISTS] [db_name.]view_name;

DROP VIEW practice.table_view;

ALTER VIEW [db_name.]view_name AS select_statement;

#### Create Materialized View


CREATE MATERIALIZED VIEW [IF NOT EXISTS] [db_name.]materialized_view_name
  [DISABLE REWRITE]
  [COMMENT materialized_view_comment]
  [PARTITIONED ON (col_name, ...)]
  [CLUSTERED ON (col_name, ...) | DISTRIBUTED ON (col_name, ...) SORTED ON (col_name, ...)]
  [
    [ROW FORMAT row_format]
    [STORED AS file_format]
      | STORED BY 'storage.handler.class.name' [WITH SERDEPROPERTIES (...)]
  ]
  [LOCATION hdfs_path]
  [TBLPROPERTIES (property_name=property_value, ...)]
AS SELECT ...;

#### Alter Materialized View

Once a materialized view has been created, the optimizer will be able to exploit its definition semantics to automatically rewrite incoming queries using materialized views, and hence, accelerate query execution. 

Users can selectively enable/disable materialized views for rewriting. Recall that, by default, materialized views are enabled for rewriting at creation time. To alter that behavior, the following statement can be used:

ALTER MATERIALIZED VIEW [db_name.]materialized_view_name ENABLE|DISABLE REWRITE;

#### Loading files into tables

Hive does not do any transformation while loading data into tables. Load operations are currently pure copy/move operations that move datafiles into locations corresponding to Hive tables.
Syntax

LOAD DATA [LOCAL] INPATH 'filepath' [OVERWRITE] INTO TABLE tablename [PARTITION (partcol1=val1, partcol2=val2 ...)]
 
LOAD DATA [LOCAL] INPATH 'filepath' [OVERWRITE] INTO TABLE tablename [PARTITION (partcol1=val1, partcol2=val2 ...)] [INPUTFORMAT 'inputfo

CREATE TABLE tab1 (col1 int, col2 int) PARTITIONED BY (col3 int) STORED AS ORC;
LOAD DATA LOCAL INPATH 'filepath' INTO TABLE tab1;

Standard syntax:

INSERT OVERWRITE TABLE tablename1 [PARTITION (partcol1=val1, partcol2=val2 ...) [IF NOT EXISTS]] select_statement1 FROM from_statement;

INSERT INTO TABLE tablename1 [PARTITION (partcol1=val1, partcol2=val2 ...)] select_statement1 FROM from_statement;
 
Hive extension (multiple inserts):
FROM from_statement
INSERT OVERWRITE TABLE tablename1 [PARTITION (partcol1=val1, partcol2=val2 ...) [IF NOT EXISTS]] select_statement1
[INSERT OVERWRITE TABLE tablename2 [PARTITION ... [IF NOT EXISTS]] select_statement2]
[INSERT INTO TABLE tablename2 [PARTITION ...] select_statement2] ...;

FROM from_statement
INSERT INTO TABLE tablename1 [PARTITION (partcol1=val1, partcol2=val2 ...)] select_statement1
[INSERT INTO TABLE tablename2 [PARTITION ...] select_statement2]
[INSERT OVERWRITE TABLE tablename2 [PARTITION ... [IF NOT EXISTS]] select_statement2] ...;
 
Hive extension (dynamic partition inserts):

INSERT OVERWRITE TABLE tablename PARTITION (partcol1[=val1], partcol2[=val2] ...) select_statement FROM from_statement;

INSERT INTO TABLE tablename PARTITION (partcol1[=val1], partcol2[=val2] ...) select_statement FROM from_statement;

CREATE TABLE students (name VARCHAR(64), age INT, gpa DECIMAL(3, 2))
  CLUSTERED BY (age) INTO 2 BUCKETS STORED AS ORC;
 
INSERT INTO TABLE students
  VALUES ('fred flintstone', 35, 1.28), ('barney rubble', 32, 2.32);
 
 
CREATE TABLE pageviews (userid VARCHAR(64), link STRING, came_from STRING)
  PARTITIONED BY (datestamp STRING) CLUSTERED BY (userid) INTO 256 BUCKETS STORED AS ORC;
 
INSERT INTO TABLE pageviews PARTITION (datestamp = '2014-09-23')
  VALUES ('jsmith', 'mail.com', 'sports.com'), ('jdoe', 'mail.com', null);
 
INSERT INTO TABLE pageviews PARTITION (datestamp)
  VALUES ('tjohnson', 'sports.com', 'finance.com', '2014-09-23'), ('tlee', 'finance.com', null, '2014-09-21');
  
INSERT INTO TABLE pageviews
  VALUES ('tjohnson', 'sports.com', 'finance.com', '2014-09-23'), ('tlee', 'finance.com', null, '2014-09-21');

In [3]:
#### update table

UPDATE tablename SET column = value [, column = value ...] [WHERE expression]

In [4]:
### delete table

DELETE FROM tablename [WHERE expression]

show create table testing.health;

show tables from testing;

select distinct diabetes from testing.health;

CREATE TABLE table2 LIKE testing.health;

CREATE TABLE tble1 AS SELECT * FROM testing.health LIMIT 5;

insert into newdb.table2 select * from testing.health h where h.age >50;

In [ ]:
insert overwrite table newdb.table2 select * from testing.health h where h.age < 10;

from testing.health h
insert into newdb.table1 select * where h.age <10;

from testing.health h
    insert into newdb.table1 select * where h.age <10
    insert overwrite table newdb.table2 select * where h.age >10;

from testing.health h
    insert into table newdb.table1 select * where h.age > 50
    insert into table newdb.table2 select * where h.age >40
    insert into table newdb.table3 select * where h.age < 10;

from testing.health h
    insert overwrite table newdb.table1 select * where h.age > 50
    insert overwrite table newdb.table2 select * where h.age >40
    insert overwrite table newdb.table3 select * where h.age < 10;