In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql import functions as F
from pyspark.sql import types as T

sparkSession = SparkSession.builder.config(conf= SparkConf() \
                            .setAppName('dataframe functions') \
                            .setMaster('local[2]')).enableHiveSupport()\
                            .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

### Normal Functions

In [2]:
df = sparkSession.read.table('testing.health')
df.show(5)

23/01/06 11:40:22 INFO HiveConf: Found configuration file file:/home/audacious/spark-3.3.1-bin-hadoop3/conf/hive-site.xml
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.wm.default.pool.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.task.scheduler.preempt.independent does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.output.format.arrow does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.tez.llap.min.reducer.per.executor does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.arrow.root.allocator.limit does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.use.checked.expressions does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.tez.dynamic.semijoin.reduction.for.mapjoin does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.complex.types.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.wm.worker.threads does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.partitions.dump.parallelism does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.uri.selection does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.strict.checks.no.partition.filter does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.tez.dynamic.semijoin.reduction.for.dpp.factor does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.stats.filter.in.min.ratio does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.client.cache.initial.capacity does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.stats.ndv.estimate.percent does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.methods does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.optimize.joinreducededuplication does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.client.cache.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.stats.fetch.bitvector does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.disable.unsafe.external.table.operations does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.incremental does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.materializedviews.registry.impl does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.event.db.notification.api.auth does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.exec.orc.delta.streaming.optimizations.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.stats.ndv.algo does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.spark.job.max.tasks does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.msck.repair.batch.max.retries does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.prewarm.spark.timeout does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.optimize.update.table.properties.from.serde.list does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.plugin.client.num.threads does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.test.bucketcodec.version does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.reexecution.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.time.window does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.cache.batch.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.headers does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.join.inner.residual does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.active.passive.ha.enable does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.trace.always.dump does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.persist.scope does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.mm.allow.originals does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.compactor.compact.insert.only does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.txn.xlock.iow does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.spark.rsc.conf.list does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.cache.defaultfs.only.native.fileid does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.spark.optimize.shuffle.serde does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.testing.remove.logs does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.distcp.privileged.doAs does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.strict.checks.orderby.no.limit does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.client.cache.expiry.time does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.allocator.defrag.headroom does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.notification.event.consumers does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.input.format.supports.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.client.cache.max.capacity does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.dumpdir.clean.freq does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.spark.use.ts.stats.for.mapjoin does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.dump.include.acid.tables does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.webui.use.pam does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.reexecution.max.count does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.share.object.pools does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.optimize.update.table.properties.from.serde does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.service.metrics.codahale.reporter.classes does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.tez.session.events.print.summary does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.vrb.queue.limit.base does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.mm.avoid.s3.globstatus does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.replica.functions.root.dir does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.results.cache.max.entry.lifetime does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.user does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.thrift.http.compression.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.execution.ptf.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.optimize.shared.work.extended does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.row.identifier.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.reexecution.always.collect.operator.stats does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.dumpdir.ttl does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.local.time.zone does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.tez.wm.am.registry.timeout does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.active.passive.ha.registry.namespace does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.create.as.insert.only does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.mapjoin.memory.oversubscribe.factor does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.arrow.batch.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.notification.sequence.lock.retry.sleep.interval does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.approx.max.load.tasks does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.results.cache.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.legacy.schema.for.all.serdes does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.tez.dag.status.check.interval does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.druid.bitmap.type does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.spark.dynamic.partition.pruning.map.join.only does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.memory.oversubscription.max.executors.per.query does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.trace.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.plugin.rpc.num.handlers does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.wm.allow.any.pool.via.jdbc does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.groupby.complex.types.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.avro.timestamp.skip.conversion does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.results.cache.nontransactional.tables.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.stats.correlated.multi.key.joins does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.db.type does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.streaming.auto.flush.check.interval.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.zookeeper.connection.timeout does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.reexecution.strategies does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.user.ipaddress does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.mapjoin.memory.monitor.check.interval does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.optimize.shared.work does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.stats.estimate does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.allocator.discard.method does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.tez.cartesian-product.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.notification.sequence.lock.max.retries does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.heap.memory.monitor.usage.threshold does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.privilege.synchronizer.interval does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.adaptor.suppress.evaluate.exceptions does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.materializedview.rebuild.incremental does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.results.cache.max.entry.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.spark.stage.max.tasks does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.testing.short.logs does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.streaming.auto.flush.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.spark.explain.user does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.operation.log.cleanup.delay does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.dump.metadata.only does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.optimize.countdistinct does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.auto.convert.join.shuffle.max.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.plugin.acl does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.schema.info.class does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.tez.queue.access.check does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.external.splits.temp.table.storage.format does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.row.wrapper.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.constraint.notnull.enforce does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.cli.print.escape.crlf does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.trigger.validation.interval does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.origins does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.ipaddress does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.external.splits.order.by.force.single.split does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.metastore.client.cache.stats.enabled does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.notification.event.poll.interval does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.transactional.concatenate.noblock does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.strategy does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.if.expr.mode does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.exim.test.mode does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.results.cache.directory does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.results.cache.wait.for.pending.results does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.remove.orderby.in.subquery does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.tez.bmj.use.subcache does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.vrb.queue.limit.min does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.wm.pool.metrics does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.add.raw.reserved.namespace does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.resource.use.hdfs.location does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.stats.num.nulls.estimate.percent does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.acid does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.zk.sm.session.timeout does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.ptf.max.memory.buffering.batch.count does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.task.scheduler.am.registry does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.druid.overlord.address.default does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.optimize.remove.sq_count_check does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.server2.webui.enable.cors does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.vectorized.row.serde.inputformat.excludes does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.cache.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.combine.equivalent.work.optimization does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.lock.query.string.max.length does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.llap.io.track.cache.usage does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.use.orc.codec.pool does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.query.results.cache.max.size does not exist
23/01/06 11:40:22 WARN HiveConf: HiveConf of name hive.repl.bootstrap.dump.open.txn.timeout does not exist

23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.metastore.wm.default.pool.size does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.llap.task.scheduler.preempt.independent does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.llap.output.format.arrow does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.tez.llap.min.reducer.per.executor does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.arrow.root.allocator.limit does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.vectorized.use.checked.expressions does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.tez.dynamic.semijoin.reduction.for.mapjoin does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.vectorized.complex.types.enabled does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.server2.wm.worker.threads does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.repl.partitions.dump.parallelism does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.metastore.uri.selection does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.strict.checks.no.partition.filter does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.tez.dynamic.semijoin.reduction.for.dpp.factor does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.stats.filter.in.min.ratio does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.metastore.client.cache.initial.capacity does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.stats.ndv.estimate.percent does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.methods does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.optimize.joinreducededuplication does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.metastore.client.cache.enabled does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.stats.fetch.bitvector does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.disable.unsafe.external.table.operations does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.incremental does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.server2.materializedviews.registry.impl does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.metastore.event.db.notification.api.auth does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.exec.orc.delta.streaming.optimizations.enabled does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.stats.ndv.algo does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.spark.job.max.tasks does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.msck.repair.batch.max.retries does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.prewarm.spark.timeout does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.optimize.update.table.properties.from.serde.list does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.llap.plugin.client.num.threads does not exist
23/01/06 11:40:23 WARN HiveConf: HiveConf of name hive.test.bucketcodec.version does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.reexecution.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.time.window does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.cache.batch.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.headers does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.join.inner.residual does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.active.passive.ha.enable does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.trace.always.dump does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.persist.scope does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.mm.allow.originals does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.compactor.compact.insert.only does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.txn.xlock.iow does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.spark.rsc.conf.list does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.cache.defaultfs.only.native.fileid does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.spark.optimize.shuffle.serde does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.testing.remove.logs does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.distcp.privileged.doAs does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.strict.checks.orderby.no.limit does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.metastore.client.cache.expiry.time does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.allocator.defrag.headroom does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.notification.event.consumers does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.input.format.supports.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.metastore.client.cache.max.capacity does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.dumpdir.clean.freq does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.spark.use.ts.stats.for.mapjoin does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.dump.include.acid.tables does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.webui.use.pam does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.reexecution.max.count does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.share.object.pools does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.optimize.update.table.properties.from.serde does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.service.metrics.codahale.reporter.classes does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.tez.session.events.print.summary does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.vrb.queue.limit.base does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.mm.avoid.s3.globstatus does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.replica.functions.root.dir does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.results.cache.max.entry.lifetime does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.user does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.thrift.http.compression.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.execution.ptf.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.optimize.shared.work.extended does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.row.identifier.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.reexecution.always.collect.operator.stats does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.dumpdir.ttl does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.local.time.zone does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.tez.wm.am.registry.timeout does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.active.passive.ha.registry.namespace does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.create.as.insert.only does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.mapjoin.memory.oversubscribe.factor does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.arrow.batch.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.notification.sequence.lock.retry.sleep.interval does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.approx.max.load.tasks does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.results.cache.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.legacy.schema.for.all.serdes does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.tez.dag.status.check.interval does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.druid.bitmap.type does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.spark.dynamic.partition.pruning.map.join.only does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.memory.oversubscription.max.executors.per.query does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.trace.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.plugin.rpc.num.handlers does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.wm.allow.any.pool.via.jdbc does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.groupby.complex.types.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.avro.timestamp.skip.conversion does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.results.cache.nontransactional.tables.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.stats.correlated.multi.key.joins does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.metastore.db.type does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.streaming.auto.flush.check.interval.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.zookeeper.connection.timeout does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.reexecution.strategies does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.user.ipaddress does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.mapjoin.memory.monitor.check.interval does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.optimize.shared.work does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.stats.estimate does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.allocator.discard.method does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.tez.cartesian-product.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.notification.sequence.lock.max.retries does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.heap.memory.monitor.usage.threshold does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.privilege.synchronizer.interval does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.adaptor.suppress.evaluate.exceptions does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.materializedview.rebuild.incremental does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.results.cache.max.entry.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.spark.stage.max.tasks does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.testing.short.logs does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.streaming.auto.flush.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.spark.explain.user does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.operation.log.cleanup.delay does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.dump.metadata.only does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.optimize.countdistinct does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.auto.convert.join.shuffle.max.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.plugin.acl does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.metastore.schema.info.class does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.tez.queue.access.check does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.external.splits.temp.table.storage.format does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.row.wrapper.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.constraint.notnull.enforce does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.cli.print.escape.crlf does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.trigger.validation.interval does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.origins does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.ipaddress does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.external.splits.order.by.force.single.split does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.metastore.client.cache.stats.enabled does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.notification.event.poll.interval does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.transactional.concatenate.noblock does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.strategy does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.if.expr.mode does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.exim.test.mode does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.results.cache.directory does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.results.cache.wait.for.pending.results does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.remove.orderby.in.subquery does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.tez.bmj.use.subcache does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.vrb.queue.limit.min does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.wm.pool.metrics does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.add.raw.reserved.namespace does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.resource.use.hdfs.location does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.stats.num.nulls.estimate.percent does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.acid does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.zk.sm.session.timeout does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.ptf.max.memory.buffering.batch.count does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.task.scheduler.am.registry does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.druid.overlord.address.default does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.optimize.remove.sq_count_check does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.server2.webui.enable.cors does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.vectorized.row.serde.inputformat.excludes does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.cache.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.combine.equivalent.work.optimization does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.lock.query.string.max.length does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.llap.io.track.cache.usage does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.use.orc.codec.pool does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.query.results.cache.max.size does not exist
23/01/06 11:40:24 WARN HiveConf: HiveConf of name hive.repl.bootstrap.dump.open.txn.timeout does not exist
23/01/06 11:40:24 INFO HiveMetaStore: 0: Opening raw store with implementation class:org.apache.hadoop.hive.metastore.ObjectStore
23/01/06 11:40:24 INFO ObjectStore: ObjectStore, initialize called

23/01/06 11:40:24 INFO Persistence: Property hive.metastore.integral.jdo.pushdown unknown - will be ignored
23/01/06 11:40:24 INFO Persistence: Property datanucleus.cache.level2 unknown - will be ignored
Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is `com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.
23/01/06 11:40:25 INFO HikariDataSource: HikariPool-1 - Started.
23/01/06 11:40:25 WARN DriverDataSource: Registered driver with driverClassName=com.mysql.jdbc.Driver was not found, trying direct instantiation.
23/01/06 11:40:25 INFO HikariDataSource: HikariPool-2 - Started.
23/01/06 11:40:25 WARN DriverDataSource: Registered driver with driverClassName=com.mysql.jdbc.Driver was not found, trying direct instantiation.
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.wm.default.pool.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.task.scheduler.preempt.independent does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.output.format.arrow does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.tez.llap.min.reducer.per.executor does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.arrow.root.allocator.limit does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.use.checked.expressions does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.tez.dynamic.semijoin.reduction.for.mapjoin does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.complex.types.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.wm.worker.threads does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.partitions.dump.parallelism does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.uri.selection does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.strict.checks.no.partition.filter does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.tez.dynamic.semijoin.reduction.for.dpp.factor does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.stats.filter.in.min.ratio does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.client.cache.initial.capacity does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.stats.ndv.estimate.percent does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.methods does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.optimize.joinreducededuplication does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.client.cache.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.stats.fetch.bitvector does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.disable.unsafe.external.table.operations does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.incremental does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.materializedviews.registry.impl does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.event.db.notification.api.auth does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.exec.orc.delta.streaming.optimizations.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.stats.ndv.algo does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.spark.job.max.tasks does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.msck.repair.batch.max.retries does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.prewarm.spark.timeout does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.optimize.update.table.properties.from.serde.list does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.plugin.client.num.threads does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.test.bucketcodec.version does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.reexecution.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.time.window does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.cache.batch.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.headers does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.join.inner.residual does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.active.passive.ha.enable does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.trace.always.dump does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.persist.scope does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.mm.allow.originals does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.compactor.compact.insert.only does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.txn.xlock.iow does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.spark.rsc.conf.list does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.cache.defaultfs.only.native.fileid does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.spark.optimize.shuffle.serde does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.testing.remove.logs does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.distcp.privileged.doAs does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.strict.checks.orderby.no.limit does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.client.cache.expiry.time does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.allocator.defrag.headroom does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.notification.event.consumers does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.input.format.supports.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.client.cache.max.capacity does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.dumpdir.clean.freq does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.spark.use.ts.stats.for.mapjoin does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.dump.include.acid.tables does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.webui.use.pam does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.reexecution.max.count does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.share.object.pools does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.optimize.update.table.properties.from.serde does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.service.metrics.codahale.reporter.classes does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.tez.session.events.print.summary does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.vrb.queue.limit.base does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.mm.avoid.s3.globstatus does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.replica.functions.root.dir does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.results.cache.max.entry.lifetime does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.user does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.thrift.http.compression.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.execution.ptf.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.optimize.shared.work.extended does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.row.identifier.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.reexecution.always.collect.operator.stats does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.dumpdir.ttl does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.local.time.zone does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.tez.wm.am.registry.timeout does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.active.passive.ha.registry.namespace does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.create.as.insert.only does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.mapjoin.memory.oversubscribe.factor does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.arrow.batch.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.notification.sequence.lock.retry.sleep.interval does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.approx.max.load.tasks does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.results.cache.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.legacy.schema.for.all.serdes does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.tez.dag.status.check.interval does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.druid.bitmap.type does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.spark.dynamic.partition.pruning.map.join.only does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.memory.oversubscription.max.executors.per.query does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.trace.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.plugin.rpc.num.handlers does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.wm.allow.any.pool.via.jdbc does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.groupby.complex.types.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.avro.timestamp.skip.conversion does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.results.cache.nontransactional.tables.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.stats.correlated.multi.key.joins does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.db.type does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.streaming.auto.flush.check.interval.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.zookeeper.connection.timeout does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.reexecution.strategies does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.user.ipaddress does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.mapjoin.memory.monitor.check.interval does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.optimize.shared.work does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.stats.estimate does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.allocator.discard.method does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.tez.cartesian-product.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.notification.sequence.lock.max.retries does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.heap.memory.monitor.usage.threshold does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.privilege.synchronizer.interval does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.adaptor.suppress.evaluate.exceptions does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.materializedview.rebuild.incremental does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.results.cache.max.entry.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.spark.stage.max.tasks does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.testing.short.logs does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.streaming.auto.flush.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.spark.explain.user does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.operation.log.cleanup.delay does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.dump.metadata.only does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.optimize.countdistinct does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.auto.convert.join.shuffle.max.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.plugin.acl does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.schema.info.class does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.tez.queue.access.check does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.external.splits.temp.table.storage.format does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.row.wrapper.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.constraint.notnull.enforce does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.cli.print.escape.crlf does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.trigger.validation.interval does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.webui.cors.allowed.origins does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.limit.connections.per.ipaddress does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.external.splits.order.by.force.single.split does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.metastore.client.cache.stats.enabled does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.notification.event.poll.interval does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.transactional.concatenate.noblock does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.materializedview.rewriting.strategy does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.if.expr.mode does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.exim.test.mode does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.results.cache.directory does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.results.cache.wait.for.pending.results does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.remove.orderby.in.subquery does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.tez.bmj.use.subcache does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.vrb.queue.limit.min does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.wm.pool.metrics does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.add.raw.reserved.namespace does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.resource.use.hdfs.location does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.stats.num.nulls.estimate.percent does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.acid does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.zk.sm.session.timeout does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.ptf.max.memory.buffering.batch.count does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.task.scheduler.am.registry does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.druid.overlord.address.default does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.optimize.remove.sq_count_check does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.server2.webui.enable.cors does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.vectorized.row.serde.inputformat.excludes does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.reexecution.stats.cache.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.combine.equivalent.work.optimization does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.lock.query.string.max.length does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.llap.io.track.cache.usage does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.use.orc.codec.pool does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.query.results.cache.max.size does not exist
23/01/06 11:40:26 WARN HiveConf: HiveConf of name hive.repl.bootstrap.dump.open.txn.timeout does not exist
23/01/06 11:40:26 INFO ObjectStore: Setting MetaStore object pin classes with hive.metastore.cache.pinobjtypes="Table,StorageDescriptor,SerDeInfo,Partition,Database,Type,FieldSchema,Order"

23/01/06 11:40:28 INFO MetaStoreDirectSql: Using direct SQL, underlying DB is MYSQL
23/01/06 11:40:28 INFO ObjectStore: Initialized ObjectStore
23/01/06 11:40:28 INFO HiveMetaStore: Added admin role in metastore
23/01/06 11:40:29 INFO HiveMetaStore: Added public role in metastore
23/01/06 11:40:29 INFO HiveMetaStore: No user is added in admin role, since config is empty
23/01/06 11:40:29 INFO HiveMetaStore: 0: get_database: default
23/01/06 11:40:29 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: default
23/01/06 11:40:29 INFO HiveMetaStore: 0: get_database: global_temp
23/01/06 11:40:29 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: global_temp
23/01/06 11:40:29 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
23/01/06 11:40:29 INFO HiveMetaStore: 0: get_database: testing
23/01/06 11:40:29 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_database: testing
23/01/06 11:40:29 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/06 11:40:29 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health
23/01/06 11:40:30 INFO HiveMetaStore: 0: get_table : db=testing tbl=health
23/01/06 11:40:30 INFO audit: ugi=audacious	ip=unknown-ip-addr	cmd=get_table : db=testing tbl=health

+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
|USMER|MEDICAL_UNIT|SEX|PATIENT_TYPE| DATE_DIED|INTUBED|PNEUMONIA|AGE|PREGNANT|DIABETES|COPD|ASTHMA|INMSUPR|HIPERTENSION|OTHER_DISEASE|CARDIOVASCULAR|OBESITY|RENAL_CHRONIC|TOBACCO|CLASIFFICATION_FINAL|ICU|
+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
|    2|           1|  1|           1|03/05/2020|     97|        1| 65|       2|       2|   2|     2|      2|           1|            2|             2|      2|            2|      2|                   3| 97|
|    2|           1|  2|           1|03/06/2020|     97|        1| 72|      97|       2|   2|     2|      2|           1|            2|             2|      1|            1|      2|                   5| 97|
|    2|           1|  2|           2|09/06/2020|      1|        2| 55|      97|       1|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   3|  2|
|    2|           1|  1|           1|12/06/2020|     97|        2| 53|       2|       2|   2|     2|      2|           2|            2|             2|      2|            2|      2|                   7| 97|
|    2|           1|  2|           1|21/06/2020|     97|        2| 68|      97|       1|   2|     2|      2|           1|            2|             2|      2|            2|      2|                   3| 97|
+-----+------------+---+------------+----------+-------+---------+---+--------+--------+----+------+-------+------------+-------------+--------------+-------+-------------+-------+--------------------+---+
only showing top 5 rows

In [5]:
# col
df.select(F.col('USMER')).show(5)

+-----+
|USMER|
+-----+
|    2|
|    2|
|    2|
|    2|
|    2|
+-----+
only showing top 5 rows

In [7]:
#column
df.select(F.column('USMER')).show(5)

+-----+
|USMER|
+-----+
|    2|
|    2|
|    2|
|    2|
|    2|
+-----+
only showing top 5 rows

In [9]:
#create_map
df.select(F.create_map(F.col('AGE'),F.col('SEX')).alias('amp_col')).show(5)

+---------+
|  amp_col|
+---------+
|{65 -> 1}|
|{72 -> 2}|
|{55 -> 2}|
|{53 -> 1}|
|{68 -> 2}|
+---------+
only showing top 5 rows

In [10]:
#lit to create new column with some values
df.select(F.col('AGE'), F.lit(1).alias('constant')).show(5)

+---+--------+
|AGE|constant|
+---+--------+
| 65|       1|
| 72|       1|
| 55|       1|
| 53|       1|
| 68|       1|
+---+--------+
only showing top 5 rows

In [11]:
# array column
df.select(F.array(F.col('AGE'), F.col('SEX')).alias('array_col')).show(5)

+---------+
|array_col|
+---------+
|  [65, 1]|
|  [72, 2]|
|  [55, 2]|
|  [53, 1]|
|  [68, 2]|
+---------+
only showing top 5 rows

In [14]:
### create map on array columns

df1 = sparkSession.createDataFrame([([2, 5], ['a', 'b'])], ['k', 'v'])
df1.select(F.map_from_arrays(df1.k, df1.v).alias("map")).show()

+----------------+
|             map|
+----------------+
|{2 -> a, 5 -> b}|
+----------------+

In [16]:
df.select(F.isnan(F.col('SEX'))).show()

+----------+
|isnan(SEX)|
+----------+
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
|     false|
+----------+
only showing top 20 rows

In [17]:
df.select(F.isnull(F.col('SEX'))).show(5)

+-------------+
|(SEX IS NULL)|
+-------------+
|        false|
|        false|
|        false|
|        false|
|        false|
+-------------+
only showing top 5 rows

In [18]:
#monotonically id
df.select(F.monotonically_increasing_id().alias('id')).show(5)

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+
only showing top 5 rows

In [19]:
#struct
df.select(F.struct(F.col('SEX'), F.col('AGE')).alias('Struct_col')).show(5)

+----------+
|Struct_col|
+----------+
|   {1, 65}|
|   {2, 72}|
|   {2, 55}|
|   {1, 53}|
|   {2, 68}|
+----------+
only showing top 5 rows

In [23]:
# when
df.select(F.when(F.col('SEX') == 1, F.concat(F.col('AGE'), F.lit(1))).otherwise(0).alias('new')).show(5)

+---+
|new|
+---+
|651|
|  0|
|  0|
|531|
|  0|
+---+
only showing top 5 rows

In [25]:
#greatest
df.select(F.greatest(F.col('AGE'),F.col('SEX'))).show()

+------------------+
|greatest(AGE, SEX)|
+------------------+
|                65|
|                72|
|                55|
|                53|
|                68|
|                40|
|                64|
|                64|
|                37|
|                25|
|                38|
|                24|
|                30|
|                55|
|                48|
|                23|
|                80|
|                61|
|                54|
|                64|
+------------------+
only showing top 20 rows

In [26]:
#least
df.select(F.least(F.col('AGE'),F.col('SEX'))).show()

+---------------+
|least(AGE, SEX)|
+---------------+
|              1|
|              2|
|              2|
|              1|
|              2|
|              1|
|              1|
|              1|
|              1|
|              1|
|              1|
|              2|
|              2|
|              2|
|              1|
|              1|
|              1|
|              2|
|              2|
|              1|
+---------------+
only showing top 20 rows

### Collection Functions

In [29]:
# array_contain
sparkSession.createDataFrame([(["a", "b", "c"],), (["a","x","s"],)], ['data']) \
    .select(F.array_contains(F.col('data'), F.lit("a"))).show()

+-----------------------+
|array_contains(data, a)|
+-----------------------+
|                   true|
|                   true|
+-----------------------+

In [30]:
# array_contain
sparkSession.createDataFrame([(["a", "b", "c"],), (["a","x","s"],)], ['data']) \
    .select(F.array_contains(F.col('data'), "a")).show()

+-----------------------+
|array_contains(data, a)|
+-----------------------+
|                   true|
|                   true|
+-----------------------+

In [33]:
# array_contain
sparkSession.createDataFrame([(["a", "b", "c"],), (["a","x","s"],)], ['data']) \
    .select(F.when(F.array_contains(F.col('data'), "a") == 'false',1).otherwise(0)).show()

+-------------------------------------------------------------+
|CASE WHEN (array_contains(data, a) = false) THEN 1 ELSE 0 END|
+-------------------------------------------------------------+
|                                                            0|
|                                                            0|
+-------------------------------------------------------------+

In [37]:
# slice array --col, index position, length
sparkSession.createDataFrame([(["a", "b", "c"],), (["a","x","s"],)], ['data']) \
    .select(F.slice(F.col('data'),2,2)).show()

+-----------------+
|slice(data, 2, 2)|
+-----------------+
|           [b, c]|
|           [x, s]|
+-----------------+

In [40]:
# array_join
sparkSession.createDataFrame([(["a", "b", "c"],), (["a","x","s"],)], ['data']) \
    .select(F.array_join(F.col('data'), '|').alias('joined_array')).show()

+------------+
|joined_array|
+------------+
|       a|b|c|
|       a|x|s|
+------------+

In [43]:
#array concate
df.select(F.concat(df.AGE,F.lit('|'), df.SEX)).show(5)

+-------------------+
|concat(AGE, |, SEX)|
+-------------------+
|               65|1|
|               72|2|
|               55|2|
|               53|1|
|               68|2|
+-------------------+
only showing top 5 rows

In [44]:
sparkSession.createDataFrame([(["c", "b", "a"],), ([],)], ['data']) \
    .select(F.array_position(F.col('data'),"a")).show()

+-----------------------+
|array_position(data, a)|
+-----------------------+
|                      3|
|                      0|
+-----------------------+

In [45]:
#array element by position
sparkSession.createDataFrame([(["c", "b", "a"],), ([],)], ['data']) \
    .select(F.element_at(F.col('data'),2)).show()

+-------------------+
|element_at(data, 2)|
+-------------------+
|                  b|
|               null|
+-------------------+

In [49]:
sparkSession.createDataFrame([([2, 1, None, 3],),([1],),([],)], ['data']) \
    .select(F.array_sort('data').alias('r')).show()

+---------------+
|              r|
+---------------+
|[1, 2, 3, null]|
|            [1]|
|             []|
+---------------+

In [52]:
 sparkSession.createDataFrame([([1, 2, 3, 2],), ([4, 5, 5, 4],)], ['data']) \
        .select(F.array_distinct('data')).show()

+--------------------+
|array_distinct(data)|
+--------------------+
|           [1, 2, 3]|
|              [4, 5]|
+--------------------+

In [54]:
from pyspark.sql import Row
sparkSession.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])]) \
    .select(F.array_intersect('c1', 'c2')).show()

+-----------------------+
|array_intersect(c1, c2)|
+-----------------------+
|                 [a, c]|
+-----------------------+

In [55]:
from pyspark.sql import Row
sparkSession.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])]) \
    .select(F.array_union('c1', 'c2')).show()

+-------------------+
|array_union(c1, c2)|
+-------------------+
|    [b, a, c, d, f]|
+-------------------+

In [57]:
# transform on array
df2 = sparkSession.createDataFrame([(1, [1, 2, 3, 4])], ("key", "values"))
df2.show()

+---+------------+
|key|      values|
+---+------------+
|  1|[1, 2, 3, 4]|
+---+------------+

In [58]:
df2.select(F.transform('values', lambda data: data*2).alias('double')).show()

+------------+
|      double|
+------------+
|[2, 4, 6, 8]|
+------------+

In [59]:
# filter element in array
df2.select(F.filter('values', lambda data: data>2).alias('filtered')).show()

+--------+
|filtered|
+--------+
|  [3, 4]|
+--------+

In [62]:
#aggregate
sparkSession.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values"))\
    .select(F.aggregate("values", F.lit(0.0), lambda acc, x: acc + x).alias("sum")).show()

+----+
| sum|
+----+
|42.0|
+----+

In [65]:
#zipwith
sparkSession.createDataFrame([(1, [1, 3, 5, 8], [0, 2, 4, 6])], ("id", "xs", "ys")) \
.select(F.zip_with("xs", "ys", lambda x, y: x ** y).alias("powers")).show(truncate=False)

+---------------------------+
|powers                     |
+---------------------------+
|[1.0, 9.0, 625.0, 262144.0]|
+---------------------------+

In [66]:
#zipwith
sparkSession.createDataFrame([(1, [1, 3, 5, 8], [0, 2, 4, 6])], ("id", "xs", "ys")) \
.select(F.zip_with("xs", "ys", lambda x, y: F.concat_ws('_',x,y)).alias("powers")).show(truncate=False)

+--------------------+
|powers              |
+--------------------+
|[1_0, 3_2, 5_4, 8_6]|
+--------------------+

In [70]:
#### Dict

In [68]:
#transform key
sparkSession.createDataFrame([(1, {"foo": -2.0, "bar": 2.0})], ("id", "data")) \
    .select(F.transform_keys("data", lambda k, _: F.upper(k)).alias("data_upper")).show(truncate=False)

+-------------------------+
|data_upper               |
+-------------------------+
|{BAR -> 2.0, FOO -> -2.0}|
+-------------------------+

In [69]:
#transform values
sparkSession.createDataFrame([(1, {"foo": -2.0, "bar": 2.0})], ("id", "data")) \
    .select(F.transform_values("data", lambda _, values: values*2).alias("data_upper")).show(truncate=False)

+-------------------------+
|data_upper               |
+-------------------------+
|{bar -> 4.0, foo -> -4.0}|
+-------------------------+

In [72]:
#map_filter filter on map values
sparkSession.createDataFrame([(1, {"foo": 42.0, "bar": 1.0, "baz": 32.0})], ("id", "data")) \
    .select(F.map_filter(F.col('data'), lambda k, v: v>10)).show(truncate=False)

+------------------------------------------------------------------------------------------------------------+
|map_filter(data, lambdafunction((namedlambdavariable() > 10), namedlambdavariable(), namedlambdavariable()))|
+------------------------------------------------------------------------------------------------------------+
|{baz -> 32.0, foo -> 42.0}                                                                                  |
+------------------------------------------------------------------------------------------------------------+

In [74]:
#explode
sparkSession.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values")) \
    .select(F.col('id'), F.explode('values')).show()

+---+----+
| id| col|
+---+----+
|  1|20.0|
|  1| 4.0|
|  1| 2.0|
|  1| 6.0|
|  1|10.0|
+---+----+

In [75]:
sparkSession.createDataFrame([(1, {"foo": 42.0, "bar": 1.0, "baz": 32.0})], ("id", "data")) \
    .select(F.col('id'), F.explode('data')).show()

+---+---+-----+
| id|key|value|
+---+---+-----+
|  1|bar|  1.0|
|  1|baz| 32.0|
|  1|foo| 42.0|
+---+---+-----+

In [90]:
#from_json
data = [(1,"""{'id':1, 'name':'nilesh','lname':'pise'}""")]
schema = T.StructType([T.StructField('id', T.StringType(), True) \
                     ,T.StructField('name', T.StringType(), True) \
                     ,T.StructField('lname', T.StringType(), True)])
sparkSession.createDataFrame(data, ['x','y']).select(F.from_json('y', schema).alias('df5')).show()

+-----------------+
|              df5|
+-----------------+
|{1, nilesh, pise}|
+-----------------+

In [96]:
#size
sparkSession.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values")) \
    .select(F.size('values')).show()

+------------+
|size(values)|
+------------+
|           5|
+------------+

In [99]:
#sort_array
sparkSession.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values")) \
    .select(F.sort_array('values', asc=False)).show()

+-------------------------+
|sort_array(values, false)|
+-------------------------+
|     [20.0, 10.0, 6.0,...|
+-------------------------+

In [100]:
#array_max
sparkSession.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values")) \
    .select(F.array_max('values')).show()

+-----------------+
|array_max(values)|
+-----------------+
|             20.0|
+-----------------+

In [101]:
#array_min
sparkSession.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values")) \
    .select(F.array_min('values')).show()

+-----------------+
|array_min(values)|
+-----------------+
|              2.0|
+-----------------+

In [105]:
#reverse
sparkSession.createDataFrame([('Spark SQL',)], ['data']) \
    .select(F.reverse('data').alias('s')).show()

+---------+
|        s|
+---------+
|LQS krapS|
+---------+

In [106]:
sparkSession.createDataFrame([(1, [20.0, 4.0, 2.0, 6.0, 10.0])], ("id", "values")) \
    .select(F.reverse('values')).show()

+--------------------+
|     reverse(values)|
+--------------------+
|[10.0, 6.0, 2.0, ...|
+--------------------+

In [109]:
#flatten
sparkSession.createDataFrame([([[1, 2, 3], [4, 5], [6]],), ([None, [4, 5]],)], ['data']) \
    .select(F.flatten('data').alias('r')).show(truncate=False)

+------------------+
|r                 |
+------------------+
|[1, 2, 3, 4, 5, 6]|
|null              |
+------------------+

In [111]:
#map_keys
sparkSession.sql("SELECT map(1, 'a', 2, 'b') as data") \
    .select(F.map_keys("data").alias("keys")).show()

+------+
|  keys|
+------+
|[1, 2]|
+------+

In [112]:
#map_values
#map_keys
sparkSession.sql("SELECT map(1, 'a', 2, 'b') as data") \
    .select(F.map_values("data").alias("keys")).show()

+------+
|  keys|
+------+
|[a, b]|
+------+

### Aggregate Functions

In [3]:
#avg
df.select(F.avg(F.col('AGE'))).show()

+------------------+
|          avg(AGE)|
+------------------+
|41.794102472403026|
+------------------+

In [4]:
#collect_list
df.select(F.collect_list(F.col('AGE'))).show()

+--------------------+
|   collect_list(AGE)|
+--------------------+
|[65, 72, 55, 53, ...|
+--------------------+

In [6]:
#collect_set
df.select(F.collect_set(F.col('AGE'))).show()

+--------------------+
|    collect_set(AGE)|
+--------------------+
|[66, 120, 15, 76,...|
+--------------------+

In [8]:
# corr -- pearson corelation
df.select(F.corr(F.col('DIABETES'),F.col('HIPERTENSION'))).show()

+----------------------------+
|corr(DIABETES, HIPERTENSION)|
+----------------------------+
|          0.8350178504029727|
+----------------------------+

In [10]:
#count
df.select(F.count(F.col('AGE'))).show()

+----------+
|count(AGE)|
+----------+
|   1048575|
+----------+

In [11]:
#count_distinct 
df.select(F.count_distinct(F.col('SEX'))).show()

+-------------------+
|count(DISTINCT SEX)|
+-------------------+
|                  2|
+-------------------+

In [12]:
df.select(F.countDistinct(F.col('SEX'))).show()

+-------------------+
|count(DISTINCT SEX)|
+-------------------+
|                  2|
+-------------------+

In [13]:
#first
df.select(F.first(F.col('AGE'))).show()

+----------+
|first(AGE)|
+----------+
|        65|
+----------+

In [15]:
#last
df.select(F.last(F.col('AGE'))).show()

+---------+
|last(AGE)|
+---------+
|       52|
+---------+

In [16]:
#max
df.select(F.max(F.col('AGE'))).show()

+--------+
|max(AGE)|
+--------+
|      99|
+--------+

In [17]:
#min
df.select(F.min(F.col('AGE'))).show()

+--------+
|min(AGE)|
+--------+
|       0|
+--------+

In [19]:
#mean
df.select(F.mean(F.col('AGE'))).show()

+------------------+
|          avg(AGE)|
+------------------+
|41.794102472403026|
+------------------+

In [20]:
#sum
df.select(F.sum(F.col('AGE'))).show()

+-----------+
|   sum(AGE)|
+-----------+
|4.3824251E7|
+-----------+

In [21]:
#sum_distinct
df.select(F.sum_distinct(F.col('AGE'))).show()

+-----------------+
|sum(DISTINCT AGE)|
+-----------------+
|           7269.0|
+-----------------+

### String Functions

In [23]:
#concat_ws
df.select(F.concat_ws('-', F.col('AGE'), F.col('SEX')).alias('concate_col')).show(5)

+-----------+
|concate_col|
+-----------+
|       65-1|
|       72-2|
|       55-2|
|       53-1|
|       68-2|
+-----------+
only showing top 5 rows

In [29]:
#concate
df.select(F.concat(F.col('SEX'), F.col('AGE')).alias('concate_col')).show(5)

+-----------+
|concate_col|
+-----------+
|        165|
|        272|
|        255|
|        153|
|        268|
+-----------+
only showing top 5 rows

In [32]:
#format_string
df.select(F.format_string("%s %s",F.col('AGE'), F.lit('HI')).alias('fomat')).show(5)

+-----+
|fomat|
+-----+
|65 HI|
|72 HI|
|55 HI|
|53 HI|
|68 HI|
+-----+
only showing top 5 rows

In [35]:
#initcap
df.select(F.col('AGE'), F.initcap(F.lit('heloo fello wo'))).show(5)

+---+-----------------------+
|AGE|initcap(heloo fello wo)|
+---+-----------------------+
| 65|         Heloo Fello Wo|
| 72|         Heloo Fello Wo|
| 55|         Heloo Fello Wo|
| 53|         Heloo Fello Wo|
| 68|         Heloo Fello Wo|
+---+-----------------------+
only showing top 5 rows

In [36]:
#length
df.select(F.length(F.lit('Hi three')).alias('len')).show(5)

+---+
|len|
+---+
|  8|
|  8|
|  8|
|  8|
|  8|
+---+
only showing top 5 rows

In [38]:
#lower
df.select(F.lower(F.lit('HI THrere'))).show(5)

+----------------+
|lower(HI THrere)|
+----------------+
|       hi threre|
|       hi threre|
|       hi threre|
|       hi threre|
|       hi threre|
+----------------+
only showing top 5 rows

In [39]:
#upper
df.select(F.upper(F.lit('hi gsdhd'))).show(5)

+---------------+
|upper(hi gsdhd)|
+---------------+
|       HI GSDHD|
|       HI GSDHD|
|       HI GSDHD|
|       HI GSDHD|
|       HI GSDHD|
+---------------+
only showing top 5 rows

In [42]:
#lpad --adding value to left side
df.select(F.lpad(F.lit('Hi'), 4, '0')).show(3)

+--------------+
|lpad(Hi, 4, 0)|
+--------------+
|          00Hi|
|          00Hi|
|          00Hi|
+--------------+
only showing top 3 rows

In [43]:
#rpad
df.select(F.rpad(F.lit('Hi'), 4, '0')).show(3)

+--------------+
|rpad(Hi, 4, 0)|
+--------------+
|          Hi00|
|          Hi00|
|          Hi00|
+--------------+
only showing top 3 rows

In [46]:
#ltrim trim spaces from left side
df.select(F.ltrim(F.lit('    Hi There'))).show(5)

+-------------------+
|ltrim(    Hi There)|
+-------------------+
|           Hi There|
|           Hi There|
|           Hi There|
|           Hi There|
|           Hi There|
+-------------------+
only showing top 5 rows

In [47]:
#rtrim trim spaces from right side
df.select(F.rtrim(F.lit('    Hi There      '))).show(5)

+-------------------------+
|rtrim(    Hi There      )|
+-------------------------+
|                 Hi There|
|                 Hi There|
|                 Hi There|
|                 Hi There|
|                 Hi There|
+-------------------------+
only showing top 5 rows

In [53]:
#regexp_extract
df.select(F.regexp_extract(F.lit('Hi ho There ho'), 'ho',0)).show(5)

+-------------------------------------+
|regexp_extract(Hi ho There ho, ho, 0)|
+-------------------------------------+
|                                   ho|
|                                   ho|
|                                   ho|
|                                   ho|
|                                   ho|
+-------------------------------------+
only showing top 5 rows

In [56]:
#regexp_replace
df.select(F.regexp_replace(F.lit('Hi ho they 8'), pattern='ho', replacement='00')).show(3)

+---------------------------------------+
|regexp_replace(Hi ho they 8, ho, 00, 1)|
+---------------------------------------+
|                           Hi 00 they 8|
|                           Hi 00 they 8|
|                           Hi 00 they 8|
+---------------------------------------+
only showing top 3 rows

In [57]:
#split
df.select(F.split(F.lit('Hi There Hello'), pattern=' ',limit=-1)).show(5)

+----------------------------+
|split(Hi There Hello,  , -1)|
+----------------------------+
|          [Hi, There, Hello]|
|          [Hi, There, Hello]|
|          [Hi, There, Hello]|
|          [Hi, There, Hello]|
|          [Hi, There, Hello]|
+----------------------------+
only showing top 5 rows

In [58]:
df.select(F.split(F.lit('Hi There Hello'), pattern='r',limit=2)).show(5)

+---------------------------+
|split(Hi There Hello, r, 2)|
+---------------------------+
|          [Hi The, e Hello]|
|          [Hi The, e Hello]|
|          [Hi The, e Hello]|
|          [Hi The, e Hello]|
|          [Hi The, e Hello]|
+---------------------------+
only showing top 5 rows

In [60]:
#substring
df.select(F.substring(F.lit('Hi There'),pos=3, len=5)).show(3)

+-------------------------+
|substring(Hi There, 3, 5)|
+-------------------------+
|                     Ther|
|                     Ther|
|                     Ther|
+-------------------------+
only showing top 3 rows

### UDF

In [68]:
df2 = sparkSession.createDataFrame([(1, "John Doe", None), (2, "Rolls Doe", 26), (3, "John rcok", 23)], ("id", "name", "age"))

In [71]:
slen = F.udf(lambda data: len(data), T.IntegerType())

@F.udf(returnType=T.IntegerType())
def add_1(data):
    if data is not None:
        return data + 1
    else:
        return None
@F.udf()
def to_upper(data):
    if data is not None:
        return data.upper()
    else:
        return data

df2.select(slen(F.col('name')), add_1(F.col('age')), to_upper(F.col('name'))).show()

+--------------+----------+--------------+
|<lambda>(name)|add_1(age)|to_upper(name)|
+--------------+----------+--------------+
|             8|      null|      JOHN DOE|
|             9|        27|     ROLLS DOE|
|             9|        24|     JOHN RCOK|
+--------------+----------+--------------+

### Datetime Functions

In [76]:
df2 = sparkSession.createDataFrame([('2015-04-08', 2),('2019-01-27', 1) \
                                    ,('2018-06-23', 6),('2013-05-08', 3)], ['dt', 'add'])

In [78]:
#add_months
df2.select(F.col('dt'), F.add_months(F.col('dt'),1).alias('next_month')).show()

+----------+----------+
|        dt|next_month|
+----------+----------+
|2015-04-08|2015-05-08|
|2019-01-27|2019-02-27|
|2018-06-23|2018-07-23|
|2013-05-08|2013-06-08|
+----------+----------+

In [79]:
df2.select(F.col('dt'), F.add_months(F.col('dt'), 3).alias('next3months')).show()

+----------+-----------+
|        dt|next3months|
+----------+-----------+
|2015-04-08| 2015-07-08|
|2019-01-27| 2019-04-27|
|2018-06-23| 2018-09-23|
|2013-05-08| 2013-08-08|
+----------+-----------+

In [85]:
#current_date
df2.select(F.col('dt'), F.current_date().alias('today_date')).show(5)

+----------+----------+
|        dt|today_date|
+----------+----------+
|2015-04-08|2023-01-06|
|2019-01-27|2023-01-06|
|2018-06-23|2023-01-06|
|2013-05-08|2023-01-06|
+----------+----------+

In [87]:
#currenttimestamp
df2.select(F.current_timestamp().alias('timestamp')).show(truncate=False)

+-----------------------+
|timestamp              |
+-----------------------+
|2023-01-06 13:12:05.468|
|2023-01-06 13:12:05.468|
|2023-01-06 13:12:05.468|
|2023-01-06 13:12:05.468|
+-----------------------+

In [88]:
#date_add -- add new days
df2.select(F.col('dt'), F.date_add(F.col('dt'), 1).alias('nextday')).show()

+----------+----------+
|        dt|   nextday|
+----------+----------+
|2015-04-08|2015-04-09|
|2019-01-27|2019-01-28|
|2018-06-23|2018-06-24|
|2013-05-08|2013-05-09|
+----------+----------+

In [89]:
df2.select(F.col('dt'), F.date_add(F.col('dt'), 5).alias('next5 day')).show()

+----------+----------+
|        dt| next5 day|
+----------+----------+
|2015-04-08|2015-04-13|
|2019-01-27|2019-02-01|
|2018-06-23|2018-06-28|
|2013-05-08|2013-05-13|
+----------+----------+

In [93]:
#date_format
df2.select(F.col('dt'), F.date_format(F.col('dt'), format='dd/MM/yy')).show()

+----------+-------------------------+
|        dt|date_format(dt, dd/MM/yy)|
+----------+-------------------------+
|2015-04-08|                 08/04/15|
|2019-01-27|                 27/01/19|
|2018-06-23|                 23/06/18|
|2013-05-08|                 08/05/13|
+----------+-------------------------+

In [97]:
df2.select(F.col('dt'), F.date_format(F.col('dt'), format='dd-MM-yy')).show()

+----------+-------------------------+
|        dt|date_format(dt, dd-MM-yy)|
+----------+-------------------------+
|2015-04-08|                 08-04-15|
|2019-01-27|                 27-01-19|
|2018-06-23|                 23-06-18|
|2013-05-08|                 08-05-13|
+----------+-------------------------+

In [98]:
df2.select(F.col('dt'), F.date_format(F.col('dt'), format='yy-dd-MM')).show()

+----------+-------------------------+
|        dt|date_format(dt, yy-dd-MM)|
+----------+-------------------------+
|2015-04-08|                 15-08-04|
|2019-01-27|                 19-27-01|
|2018-06-23|                 18-23-06|
|2013-05-08|                 13-08-05|
+----------+-------------------------+

In [99]:
df2.select(F.col('dt'), F.date_format(F.col('dt'), format='yy/dd/MM')).show()

+----------+-------------------------+
|        dt|date_format(dt, yy/dd/MM)|
+----------+-------------------------+
|2015-04-08|                 15/08/04|
|2019-01-27|                 19/27/01|
|2018-06-23|                 18/23/06|
|2013-05-08|                 13/08/05|
+----------+-------------------------+

In [101]:
#date_sub
df2.select(F.col('dt'), F.date_sub(F.col('dt'), 1).alias('prev_date')).show()

+----------+----------+
|        dt| prev_date|
+----------+----------+
|2015-04-08|2015-04-07|
|2019-01-27|2019-01-26|
|2018-06-23|2018-06-22|
|2013-05-08|2013-05-07|
+----------+----------+

In [102]:
df2.select(F.col('dt'), F.date_sub(F.col('dt'), 5).alias('prev_5_date')).show()

+----------+-----------+
|        dt|prev_5_date|
+----------+-----------+
|2015-04-08| 2015-04-03|
|2019-01-27| 2019-01-22|
|2018-06-23| 2018-06-18|
|2013-05-08| 2013-05-03|
+----------+-----------+

In [108]:
#date_trunc

In [103]:
df3 = sparkSession.createDataFrame([('1997-02-28 05:02:11',)], ['t'])

In [107]:
df3.select(F.col('t'), F.date_trunc('year',F.col('t'))).show()

+-------------------+-------------------+
|                  t|date_trunc(year, t)|
+-------------------+-------------------+
|1997-02-28 05:02:11|1997-01-01 00:00:00|
+-------------------+-------------------+

In [109]:
df3.select(F.col('t'), F.date_trunc('month',F.col('t'))).show()

+-------------------+--------------------+
|                  t|date_trunc(month, t)|
+-------------------+--------------------+
|1997-02-28 05:02:11| 1997-02-01 00:00:00|
+-------------------+--------------------+

In [111]:
###datediff
df2.select(F.col('dt'), F.datediff(F.current_date(),F.col('dt')).alias('date_diff')).show()

+----------+---------+
|        dt|date_diff|
+----------+---------+
|2015-04-08|     2830|
|2019-01-27|     1440|
|2018-06-23|     1658|
|2013-05-08|     3530|
+----------+---------+

In [112]:
df2.select(F.datediff(F.date_add(F.current_date(), 2), F.current_date()).alias('date_diif')).show()

+---------+
|date_diif|
+---------+
|        2|
|        2|
|        2|
|        2|
+---------+

In [113]:
#dayofmonth
df2.select(F.dayofmonth(F.col('dt'))).show()

+--------------+
|dayofmonth(dt)|
+--------------+
|             8|
|            27|
|            23|
|             8|
+--------------+

In [114]:
#dayofweek
df2.select(F.dayofweek(F.col('dt'))).show()

+-------------+
|dayofweek(dt)|
+-------------+
|            4|
|            1|
|            7|
|            4|
+-------------+

In [115]:
#dayofyear
df2.select(F.dayofyear(F.col('dt'))).show()

+-------------+
|dayofyear(dt)|
+-------------+
|           98|
|           27|
|          174|
|          128|
+-------------+

In [117]:
#weekofyear
df2.select(F.weekofyear(F.col('dt')).alias('week')).show()

+----+
|week|
+----+
|  15|
|   4|
|  25|
|  19|
+----+

In [116]:
#second
df2.select(F.second(F.current_timestamp()).alias('second')).show()

+------+
|second|
+------+
|    46|
|    46|
|    46|
|    46|
+------+

In [118]:
#year
df2.select(F.year(F.col('dt'))).show()

+--------+
|year(dt)|
+--------+
|    2015|
|    2019|
|    2018|
|    2013|
+--------+

In [119]:
#quarter
df2.select(F.quarter(F.col('dt')).alias('quater')).show()

+------+
|quater|
+------+
|     2|
|     1|
|     2|
|     2|
+------+

In [120]:
#months
df2.select(F.month(F.col('dt'))).show()

+---------+
|month(dt)|
+---------+
|        4|
|        1|
|        6|
|        5|
+---------+

In [121]:
#Returns the last day of the month which the given date belongs to.
df2.select(F.col('dt'), F.last_day(F.col('dt')).alias('last_day_month')).show()

+----------+--------------+
|        dt|last_day_month|
+----------+--------------+
|2015-04-08|    2015-04-30|
|2019-01-27|    2019-01-31|
|2018-06-23|    2018-06-30|
|2013-05-08|    2013-05-31|
+----------+--------------+

In [123]:
#minute
df2.select(F.minute(F.current_timestamp()).alias('minute')).show()

+------+
|minute|
+------+
|    42|
|    42|
|    42|
|    42|
+------+

In [124]:
#months_between
df2.select(F.col('dt'), F.months_between(F.current_date(), F.col('dt')).alias('month_between')).show()

+----------+-------------+
|        dt|month_between|
+----------+-------------+
|2015-04-08|  92.93548387|
|2019-01-27|  47.32258065|
|2018-06-23|   54.4516129|
|2013-05-08| 115.93548387|
+----------+-------------+

In [125]:
#hour
df2.select(F.hour(F.current_timestamp())).show()

+-------------------------+
|hour(current_timestamp())|
+-------------------------+
|                       13|
|                       13|
|                       13|
|                       13|
+-------------------------+

In [127]:
#make_date

df2.select(F.make_date(year=F.lit('2020'), month=F.lit('12'), day=F.lit('10'))).show()

+-----------------------+
|make_date(2020, 12, 10)|
+-----------------------+
|             2020-12-10|
|             2020-12-10|
|             2020-12-10|
|             2020-12-10|
+-----------------------+

In [128]:
#from_unixtime

In [131]:
sparkSession.conf.set("spark.sql.session.timeZone", "America/Los_Angeles")
time_df = sparkSession.createDataFrame([(1428476400,)], ['unix_time'])
time_df.select(F.from_unixtime('unix_time').alias('ts')).show()

+-------------------+
|                 ts|
+-------------------+
|2015-04-08 00:00:00|
+-------------------+

In [ ]:
#from_unixtimestamp

In [133]:
sparkSession.conf.set("spark.sql.session.timeZone", "America/Los_Angeles")
time_df = sparkSession.createDataFrame([('2015-04-08',)], ['dt'])

time_df.select(F.unix_timestamp('dt', 'yyyy-MM-dd').alias('unix_time')).show()

sparkSession.conf.unset("spark.sql.session.timeZone")

+----------+
| unix_time|
+----------+
|1428476400|
+----------+

In [135]:
#to_timestamp
df = sparkSession.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
df.select(F.to_timestamp(df.t).alias('dt')).show()

+-------------------+
|                 dt|
+-------------------+
|1997-02-28 10:30:00|
+-------------------+

In [137]:
df = sparkSession.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
df.select(F.to_timestamp(df.t, 'yyyy-MM-dd HH:mm:ss').alias('dt')).show()

+-------------------+
|                 dt|
+-------------------+
|1997-02-28 10:30:00|
+-------------------+

In [140]:
#to_date
df = sparkSession.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
df.select(F.to_date(df.t).alias('date')).show()

+----------+
|      date|
+----------+
|1997-02-28|
+----------+

In [139]:
df = sparkSession.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
df.select(F.to_date(df.t, 'yyyy-MM-dd HH:mm:ss').alias('date')).show()

+----------+
|      date|
+----------+
|1997-02-28|
+----------+

In [142]:
#from_utc_timestamp
df = sparkSession.createDataFrame([('1997-02-28 10:30:00', 'JST')], ['ts', 'tz'])
df.select(F.from_utc_timestamp(df.ts, "PST").alias('local_time')).show()

+-------------------+
|         local_time|
+-------------------+
|1997-02-28 02:30:00|
+-------------------+

In [143]:
df.select(F.from_utc_timestamp(df.ts, df.tz).alias('local_time')).show()

+-------------------+
|         local_time|
+-------------------+
|1997-02-28 19:30:00|
+-------------------+

In [145]:
#to_utc_timestamp
df = sparkSession.createDataFrame([('1997-02-28 10:30:00', 'JST')], ['ts', 'tz'])
df.select(F.to_utc_timestamp(df.ts, "PST").alias('utc_time')).show()

+-------------------+
|           utc_time|
+-------------------+
|1997-02-28 18:30:00|
+-------------------+

In [146]:
df.select(F.to_utc_timestamp(df.ts, df.tz).alias('utc_time')).show()

+-------------------+
|           utc_time|
+-------------------+
|1997-02-28 01:30:00|
+-------------------+

23/01/06 20:14:07 WARN DataStreamer: Exception for BP-241050457-127.0.0.1-1670841776195:blk_1073763003_22210
java.net.SocketTimeoutException: 65000 millis timeout while waiting for channel to be ready for read. ch : java.nio.channels.SocketChannel[connected local=/127.0.0.1:36044 remote=/127.0.0.1:9866]
	at org.apache.hadoop.net.SocketIOWithTimeout.doIO(SocketIOWithTimeout.java:163)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:161)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:131)
	at org.apache.hadoop.net.SocketInputStream.read(SocketInputStream.java:118)
	at java.io.FilterInputStream.read(FilterInputStream.java:83)
	at java.io.FilterInputStream.read(FilterInputStream.java:83)
	at org.apache.hadoop.hdfs.protocolPB.PBHelperClient.vintPrefixed(PBHelperClient.java:519)
	at org.apache.hadoop.hdfs.protocol.datatransfer.PipelineAck.readFields(PipelineAck.java:213)
	at org.apache.hadoop.hdfs.DataStreamer$ResponseProcessor.run(DataStreamer.java:1137)

### Math Functions